@model IERSystem.Areas.Administrator.Models.KhachHang

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>KhachHang</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TenKhachHang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenKhachHang)
                @Html.ValidationMessageFor(model => model.TenKhachHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChiKhachHang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChiKhachHang)
                @Html.ValidationMessageFor(model => model.DiaChiKhachHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenDaiDien, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDaiDien)
                @Html.ValidationMessageFor(model => model.TenDaiDien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoDienThoai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoDienThoai)
                @Html.ValidationMessageFor(model => model.SoDienThoai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoFax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoFax)
                @Html.ValidationMessageFor(model => model.SoFax)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
