@model IERSystem.Areas.HopDongLayMau.Models.DetailsOutputModel

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";}

<h2>Chi tiết hợp đồng</h2>

<div>
    <hr />
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <dl class="dl-horizontal">
                    <dt>
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Mã đơn
                        </label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaDon)
                    </dd>

                    <dt>
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Tên khách hàng
                        </label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenKhachHang)
                    </dd>

                    <dt>
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Người đại diện
                        </label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenDaiDien)
                    </dd>

                    <dt>
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Nơi lấy mẫu
                        </label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DiaChiLayMau)
                    </dd>

                    <dt>
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Địa chỉ
                        </label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DiaChiKhachHang)
                    </dd>

                    <dt>
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Mã số thuế
                        </label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaSoThue)
                    </dd>

                    <dt>
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">
                            SĐT
                        </label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SoDienThoai)
                    </dd>

                    <dt>
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">
                            Fax
                        </label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SoFax)
                    </dd>

                    <dt>
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Ngày gửi mẫu/lấy mẫu
                        </label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NgayTaoHD)
                    </dd>

                    <dt>
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Ngày dự kiến trả mẫu
                        </label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NgayHenTraKQ)
                    </dd>
                </dl>
            </div>
            </div>
        </div>
    </div>

            <div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>
                                    Thông tin các mẫu
                                </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </li>
                                    @*<li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#">Settings 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>*@
                                    <li>
                                        <a class="close-link">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="display:block;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Mã mẫu</th>
                                            <th>Ký hiệu mẫu</th>
                                            <th>Vị Trí Lấy Mẫu</th>
                                            <th>Số Lượng</th>
                                            <th>Mô Tả Mẫu</th>
                                            <th>Chỉ Tiêu Yêu Cầu</th>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.MauPT)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(model => item.MaMau)</td>
                                                <td>@Html.DisplayFor(model => item.MaMauKH)</td>
                                                <td>@Html.DisplayFor(model => item.ViTriLayMau)</td>
                                                <td>@Html.DisplayFor(model => item.SoLuong) @Html.DisplayFor(model => item.DonVi)</td>
                                                <td>@Html.DisplayFor(model => item.MoTaMau)</td>
                                                <td>@Html.DisplayFor(model => item.ChiTieuPhanTiches)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p class="mid_center">
                <button class="btn btn-warning" data-toggle="tooltip" title="Chỉnh sửa" onclick="location.href='@Url.Action("Edit", "YeuCauLayMau", new { id = Model.Id })'"><span class="fa fa-edit"></span></button>  
                <button class="btn btn-success" data-toggle="tooltip" title="Quay lại" onclick="location.href='@Url.Action("Index", "YeuCauLayMau", new { id = Model.Id })'"><span class="fa fa-arrow-left"></span></button>                                 
            </p>
