@model IERSystem.Areas.HopDongLayMau.Models.YeuCauLayMauEditOutputModel

@{
    ViewBag.Title = "Chỉnh sửa yêu cầu";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh sửa yêu cầu</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="phieuyeucauedit-app" class="form-horizontal">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chỉnh sửa phiếu</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="form" class="form-horizontal form-label-left" novalidate="">
                        <div class="clearfix" />
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Tên khách hàng <span class="required">*</span>
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.TenKhachHang, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.TenKhachHang)
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Mã số thuế
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.MaSoThue, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.MaSoThue)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Người đại diện
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.TenDaiDien, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.TenDaiDien)
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">
                                Số điện thoại <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.SoDienThoai, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.SoDienThoai)
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Fax
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.SoFax, new { @class = "form-control col-md-2 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.SoFax)
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">
                                Nơi lấy mẫu <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.DiaChiLayMau, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.DiaChiLayMau)
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">
                                Địa chỉ <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.DiaChiKhachHang, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.DiaChiKhachHang)
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Ngày gửi/lấy mẫu <span class="required">*</span>
                            </label>
                            <div class="form-group input-group-sm col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.NgayLayMau, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.NgayLayMau)
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Ngày dự kiến trả mẫu <span class="required">*</span>
                            </label>
                            <div class="form-group input-group-sm col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.NgayHenTraKQ, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.NgayHenTraKQ)
                            </div>
                        </div>

                        <h2 class="StepTitle">Thông Tin Các Mẫu</h2>
                        <div class="row">
                            @*<div class="col-md-2 col-sm-2 col-xs-2">
                                    <button id="btnThemMau" type="button"
                                            data-toggle="modal" data-target="#themMauModal"
                                            class="btn btn-success">
                                        Thêm Mẫu
                                    </button>
                                </div>*@
                            <!-- Modal -->
                            <div id="suaMauModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Modal Header</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="email">Mã Mẫu</label>
                                                <input type="email" class="form-control" id="ma-mau">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Kí Hiệu Mẫu</label>
                                                <select id="kh-mau" class="form-control">
                                                    <option></option>
                                                    <option>NT: Nước Thải</option>
                                                    <option>NC: Nước Cấp</option>
                                                    <option>NM: Nước Mặt</option>
                                                    <option>KK: Không Khí</option>
                                                    <option>B: Bùn Thải</option>
                                                    <option>Đ: Đất</option>
                                                    <option>TP: Thực Phẩm</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Vị Trí Lấy Mẫu <span class="required">*</span></label>
                                                <input type="email" class="form-control" id="vitri-laymau" required="required">
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-8">
                                                    <label for="email">Số Lượng</label>
                                                    <input type="email" class="form-control" id="so-luong">
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="email">Đơn Vị</label>
                                                    <input type="email" class="form-control" id="don-vi">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Mô Tả Mẫu <span class="required">*</span></label>
                                                <input type="email" class="form-control" id="mota-mau" required="required">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Loại Mẫu Theo Nhóm Chỉ Tiêu</label>
                                                <select id="loai-chitieu" class="form-control"></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Chỉ Tiêu Yêu Cầu <span class="required">*</span></label>
                                                <select class="select2_multiple form-control " multiple="multiple" required="required" id="chitieu-yeucau" style="width: 100%;"></select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="saveMauBtn" type="button" class="btn btn-success" @*data-dismiss="modal"*@>Thêm Mẫu</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Confirm Delete MauPT Modal -->
                            <div id="confirmDelMauPTModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h4>Bạn có chắc chắn muốn xóa mẫu?</h4>
                                            <div class="form-group" align="center">
                                                <button type="submit" class="btn btn-success"
                                                        data-dismiss="modal"
                                                        v-on:click="setDeleteMauPT(promptedDelMauPT)">
                                                    <span class="fa fa-check"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger"
                                                        data-dismiss="modal">
                                                    <span class="fa fa-close"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="sampledata-table"
                                       class="table table-striped table-bordered dataTable no-footer"
                                       role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="column-title">Mã Mẫu</th>
                                            <th class="column-title">KH Mẫu</th>
                                            <th class="column-title">Vị Trí Lấy Mẫu</th>
                                            <th class="column-title">Số Lượng</th>
                                            <th class="column-title">Mô Tả Mẫu</th>
                                            <th class="column-title">Chỉ Tiêu Yêu Cầu</th>
                                            <th class="column-title"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="maupt in phieuyeucauedit.MauLayHienTruongs" role="row">
                                            <td>{{ maupt.KiHieuMau }}</td>
                                            <td>{{ maupt.MaMauKH }}</td>
                                            <td>{{ maupt.ViTriLayMau }}</td>
                                            <td>{{ renderedSoLuongPTCell(maupt) }}</td>
                                            <td>{{ maupt.MoTaMau }}</td>
                                            <td>{{ renderedChiTieuPTCell(maupt) }}</td>
                                            <td class="column-title">
                                                <button title="Chỉnh sửa"
                                                        type="button"
                                                        v-on:click="openChinhMauModal(maupt)">
                                                    <span class="fa fa-edit"></span>
                                                </button>
                                                <button title="Xóa"
                                                        type="button"
                                                        data-toggle="tooltip"
                                                        data-target="#confirmDelMauPTModal"
                                                        v-on:click="setDeleteMauPT(maupt)">
                                                    <span class="fa fa-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                <input type="button" id="submitBtn" value="Lưu" class="btn btn-success" />
                                <input type="button" class="btn btn-danger" value="Quay lại" data-toggle="modal" data-target="#confirmModal" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<!-- Quay Lai Modal -->
<div id="confirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h4>Bạn có chắc chắn muốn quay lại?</h4>
                <h5>Những thông tin bạn đã nhập sẽ không được lưu vào dữ liệu hệ thống.</h5>
                <div class="form-group" align="center">
                    <button type="submit" class="btn btn-success"
                            data-dismiss="modal"
                            onclick="turnBack()">
                        <span class="fa fa-check"></span>
                    </button>
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">
                        <span class="fa fa-close"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Areas/Administrator/vendors/vuejs/vue.min.js"></script>
    <!-- VueJS App -->
    <script>
        @*nthoang: Temporary solution to parse uri string to get id, last element of url splitted by '/' token*@
        var $CacheChiTieu = {};
        
        function getIdFromUrl() {
            var url_parts = location.href.split("/");
            return url_parts[url_parts.length - 1];
        }

        function reloadChiTieuMultiBox(chitieu_selected_data) {
            //nthoang: AJAX call ChiTieuMau suggestion list
            var chitieu_selectbox = $("#chitieu-yeucau");
            var formData2 = {
                TenNhom: $("#loai-chitieu").val()
            };
            if (!(formData2.TenNhom in $CacheChiTieu)) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("FindChiTieu", "API", new { area = "BaoGiaChiTieu" })',
                    data: JSON.stringify(formData2),
                    success: function (res) {
                        chitieu_selectbox.empty();
                        $CacheChiTieu[formData2.TenNhom] = res;
                        res.forEach(function (item) {
                            chitieu_selectbox.append("<option>" + item.TenChiTieu + "</option>");
                        });
                        $("#chitieu-yeucau").val(chitieu_selected_data).trigger('change');
                    },
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8'
                });
            } else {
                chitieu_selectbox.empty();
                var cached_ct = $CacheChiTieu[formData2.TenNhom];
                cached_ct.forEach(function (item) {
                    chitieu_selectbox.append("<option>" + item.TenChiTieu + "</option>");
                });
                $("#chitieu-yeucau").val(chitieu_selected_data).trigger('change');
            }
        }

        @*nthoang: Preload NhomChiTieu for this maupt and also its correspondent list of ChiTieuPhanTich*@
        $.ajax({
            type: 'GET',
            url: ' @Url.Action("GetNhomChiTieu", "API", new { area = "BaoGiaChiTieu" })',
            success: function (res) {
                var loaimau_selectbox = $("#loai-chitieu");
                loaimau_selectbox.append("<option></option>");
                res.forEach(function (item) {
                    loaimau_selectbox.append("<option>" + item.TenNhom + "</option>");
                });
                loaimau_selectbox.change(function () {
                    reloadChiTieuMultiBox([]);
                });
            },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        });

        @*nthoang: Load all Phieu Yeu Cau data first using server side rendering*@
        var $phieuyeucauedit_app = new Vue({
            el: '#phieuyeucauedit-app',
            data: {
                promptedDelMauPT: undefined,
                maupteditpicked: undefined,
                @*nthoang: This is the input model (To be submitted to server)*@
                phieuyeucauedit: {
                    @*nthoang: Populate input model with loaded Phieu Yeu Cau data (Server rendering)*@
                    TenKhachHang: $("#TenKhachHang").val(),
                    MaSoThue: $("#MaSoThue").val(),
                    TenDaiDien: $("#TenDaiDien").val(),
                    SoDienThoai: $("#SoDienThoai").val(),
                    SoFax: $("#SoFax").val(),
                    DiaChiLayMau: $("#DiaChiLayMau").val(),
                    DiaChiKhachHang: $("#DiaChiKhachHang").val(),
                    NgayLayMau: $("#NgayLayMau").val(),
                    NgayHenTraKQ: $("#NgayHenTraKQ").val().split(" ")[0],
                    MauLayHienTruongs: []
                }
            },
            methods: {
                renderedSoLuongPTCell: function (maupt) {
                    return maupt.SoLuong + " " + maupt.DonVi;
                },
                renderedChiTieuPTCell: function (maupt) {
                    return maupt.ChiTieuPhanTiches.map(function (e) { return e.TenChiTieu }).join(", ");
                },
                unsetDeleteMauPT: function (maupt) {
                    maupt.ModifiedState = 0;
                },
                setDeleteMauPT: function (maupt) {
                    maupt.ModifiedState = 2;
                },
                openChinhMauModal: function (maupt) {
                    var contents = maupt;
                    $("#ma-mau").val(contents.MaMauKH);
                    $("#kh-mau").val(contents.KiHieuMau);
                    $("#vitri-laymau").val(contents.ViTriLayMau);
                    $("#so-luong").val(contents.SoLuong);
                    $("#don-vi").val(contents.DonVi);
                    $("#mota-mau").val(contents.MoTaMau);
                    $("#loai-chitieu").val(contents.ChiTieuPhanTiches[0].NhomChiTieu);
                    reloadChiTieuMultiBox(contents.ChiTieuPhanTiches.map(function (e) { return e.TenChiTieu; }));
                    $("#suaMauModal").modal("toggle");
                }
            }
        });

        @*nthoang: Mau Phan Tich list to be loaded later using ajax*@
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetMauPTs", "API")/?id=' + getIdFromUrl(),
            success: function (res) {
                if (res.IsOK) {
                    var mapped_result = res.Data.forEach(function (e) {
                        e.ModifiedState = 0;
                        @*nthoang: Mau Phan Tich table is loaded after ajax call*@
                        $phieuyeucauedit_app.phieuyeucauedit.MauLayHienTruongs.push(e);
                    });
                } else {
                    alert("Co loi khi lay mau phan tich cho phieu yeu cau id " + getIdFromUrl());
                }
            },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        });
    </script>

    <!-- validator -->
    <script>
        // initialize the validator function
        validator.message.date = 'Không phải ngày thật';

        //validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('form')
          .on('blur', 'input[required], input.optional, select.required', validator.checkField)
          .on('change', 'select.required', validator.checkField)
          .on('keypress', 'input[required][pattern]', validator.keypress);

        $('.multi.required').on('keyup blur', 'input', function () {
            validator.checkField.apply($(this).siblings().last()[0]);
        });

        function turnBack() {
            new PNotify({
                title: 'Chuyển trang',
                text: 'bạn đang được chuyển sang trang chủ.',
                type: 'success',
                styling: 'bootstrap3'
            });
            setTimeout(function () {
                window.location.href = '@Url.Action("Index", "YeuCauLayMau")'
            }, 1500);

        }

        //get Maus
        function get() {
            $.ajax({
                type: 'POST',
                url: ' @Url.Action("GetMauPT", "API")',
                data: JSON.stringify({ Id: id }),
                success: function (res) {
                    if (res.IsOK) {
                        var result = Data;

                    } else {
                        console.log("Có lỗi khi mở sổ nhận mẫu " + id);
                    }
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            })
        }
    </script>
    <!-- /validator -->
}
