@model IERSystem.Areas.Administrator.Models.PhieuYeuCau

@{
    ViewBag.Title = "Chỉnh sửa yêu cầu";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh sửa yêu cầu</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chỉnh sửa phiếu</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Mã đơn
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.MaDon, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.MaDon)
                            </div>
                        </div>
                        <div class="clearfix" />
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Tên khách hàng <span class="required">*</span>
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.TenKhachHang, new { @class = "form-control col-md-4 col-xs-12", required = "required" })
                                @Html.ValidationMessageFor(model => model.TenKhachHang)
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Mã số thuế
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.MaSoThue, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.MaSoThue)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Người đại diện
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.TenDaiDien, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.TenDaiDien)
                            </div>
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">
                                SĐT <span class="required">*</span>
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                @Html.TextBoxFor(model => model.SoDienThoai, new { @class = "form-control col-md-2 col-xs-12", required = "required" })
                                @Html.ValidationMessageFor(model => model.SoDienThoai)
                            </div>
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">
                                Fax
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                @Html.TextBoxFor(model => model.SoFax, new { @class = "form-control col-md-2 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.SoFax)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Nơi lấy mẫu <span class="required">*</span>
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.DiaChiLayMau, new { @class = "form-control col-md-4 col-xs-12", required = "required" })
                                @Html.ValidationMessageFor(model => model.DiaChiLayMau)
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Ngày gửi mẫu/lấy mẫu <span class="required">*</span>
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.NgayTaoHD, new { @class = "form-control col-md-4 col-xs-12", required = "required" })
                                @Html.ValidationMessageFor(model => model.NgayTaoHD)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Địa chỉ <span class="required">*</span>
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.DiaChiKhachHang, new { @class = "form-control col-md-4 col-xs-12", required = "required" })
                                @Html.ValidationMessageFor(model => model.DiaChiKhachHang)
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Ngày dự kiến trả mẫu <span class="required">*</span>
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control col-md-4 col-xs-12" required="required">
                                    <option>Chọn ngày trả mẫu</option>
                                    <option>2 ngày</option>
                                    <option>7 ngày</option>
                                    <option>10 ngày</option>
                                </select>
                                @*@Html.ValidationMessageFor(model => model.NgayDuKienTraMau)*@
                            </div>
                        </div>

                        
                    </form>

                    <h2 class="StepTitle">Thông Tin Các Mẫu</h2>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <button id="btnThemMau" type="button"
                                    data-toggle="modal" data-target="#themMauModal"
                                    class="btn btn-success">
                                Thêm Mẫu
                            </button>
                        </div>
                        <!-- Modal -->
                        <div id="themMauModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modal Header</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="email">Mã Mẫu</label>
                                            <input type="email" class="form-control" id="ma-mau">
                                        </div>
                                        <label for="email">Kí Hiệu Mẫu</label>
                                        <select id="kh-mau" class="form-control">
                                            <option>NT: Nước Thải</option>
                                            <option>NC: Nước Cấp</option>
                                            <option>NM: Nước Mặt</option>
                                            <option>KK: Không Khí</option>
                                            <option>B: Bùn Thải</option>
                                            <option>Đ: Đất</option>
                                            <option>TP: Thực Phẩm</option>
                                        </select>

                                        <div class="form-group">
                                            <label for="email">Vị Trí Lấy Mẫu <span class="required">*</span></label>
                                            <input type="email" class="form-control" id="vitri-laymau" required="required">
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-8">
                                                <label for="email">Số Lượng</label>
                                                <input type="email" class="form-control" id="so-luong">
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="email">Đơn Vị</label>
                                                <input type="email" class="form-control" id="don-vi">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Mô Tả Mẫu <span class="required">*</span></label>
                                            <input type="email" class="form-control" id="mota-mau" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Chỉ Tiêu Yêu Cầu <span class="required">*</span></label>
                                            <select class="select2_multiple form-control " multiple="multiple" required="required" id="chitieu-yeucau" style="width: 100%;">
                                                <option>Chỉ tiêu nước</option>
                                                <option>Chỉ tiêu đất</option>
                                                <option>Chỉ tiêu bùn</option>
                                                <option>Chỉ tiêu nước thải</option>
                                                <option>Chỉ tiêu NCR</option>
                                                <option>Chỉ tiêu 5</option>
                                                <option>Chỉ tiêu 6</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="saveMauBtn" type="button" class="btn btn-success" data-dismiss="modal">Thêm Mẫu</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        <div class="row">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="sampledata-table"
                                       class="table table-striped table-bordered dataTable no-footer"
                                       role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="column-title">TT</th>
                                            <th class="column-title">KH Mẫu</th>
                                            <th class="column-title">Vị Trí Lấy Mẫu</th>
                                            <th class="column-title">Số Lượng</th>
                                            <th class="column-title">Mô Tả Mẫu</th>
                                            <th class="column-title">Chỉ Tiêu Yêu Cầu</th>
                                            <th class="column-title"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <p class="mid_center">
                                <input id="submitEdit" value="Lưu" class="btn btn-success" />
                                @*<button id="submitBtn" type="submit" class="btn btn-success" data-toggle="tooltip" title="Lưu"><span class="fa fa-save"></span></button>*@
                                <input type="button" class="btn btn-danger" value="Quay lại" onclick="location.href='@Url.Action("Index", "YeuCauLayMau")'" />
                            </p>                         
                        </div>                
                 </div>
            </div>
        </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $('#themMauModal').on('hidden.bs.modal', function () {
            $(this).find("input,textarea,select").val('').end();

        });
        function Save() {
            var tabledata = $("#sampledata-table tbody");
            tabledata.append(
                "<tr>" +
                "<td></td>" +
                "<td>" + $("#kh-mau").val() + "</td>" +
                "<td>" + $("#vitri-laymau").val() + "</td>" +
                "<td>" + $("#so-luong").val() + "</td>" +
                "<td>" + $("#mota-mau").val() + "</td>" +
                "<td>" + $("#chitieu-yeucau").val() + "</td>" +
                "<td></td>" +
                "</tr>");

            //On Row Hover
            tabledata.children().last().hover(OnRowIn, OnRowOut)
        }

        function Delete() {
            var par = $(this).parent().parent(); //tr
            par.remove();
        }

        function OnRowIn() {
            var deleteCell = $(this).children().last();
            deleteCell.html("<a id='deleteRowBtn' href='#'><span class='glyphicon glyphicon-remove'></span></a>");
            $('#deleteRowBtn').bind("click", Delete);
        }

        function OnRowOut() {
            $(this).children().last().html('');
        }

        $("#saveMauBtn").bind("click", Save);

    });
</script>

}
