@model IEnumerable<IERSystem.Areas.Administrator.Models.PhieuYeuCau>

@{
    ViewBag.Title = "Danh sách phiếu yêu cầu";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<br />
<h2>MỤC LỤC</h2>
<input type="button" class="btn btn-info" value="Tạo phiếu yêu cầu mới" onclick="location.href='@Url.Action("Create", "YeuCauLayMau")'" />
<div>
    <div class="page-title">
        <div class="title-left">
            <h3>Hợp đồng lấy mẫu</h3>

        </div>
        <div class="title-right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div id="phieuyeucau-app" class="col-md-12 col-sm-12 col-xs-12">
        <!--Notification-->
        <div class="alert alert-success alert-dismissible" role="alert" id="myNoti" hidden="hidden">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <strong>
                Chào
                @{
                    if (Session["loggedUser"] != null)
                    {
                        @Session["loggedUser"].ToString()
                    }
                }!

            </strong> Bạn có <i id="numcontract"></i> hợp đồng mới trong sổ. <a onclick="scrollDown()"><u> Xem </u></a>

        </div>
        <!--End of Notification-->

        <div class="clearfix"></div>


        <!--Table dynamic-->
        <div v-for="phieuyeucau in tableData" class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>DANH SÁCH PHIẾU YÊU CẦU <small><i class="green" id="newContract"></i> hợp đồng mới</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                        <li>
                            <a class="close-link">
                                <i class="fa fa-close"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="phieuyeucautable" class="datatable-buttons table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Mã đơn</th>
                                <th>Tên khách hàng</th>
                                <th>Tên đại diện</th>
                                <th>Địa chỉ lấy mẫu</th>
                                <th>Địa chỉ KH</th>
                                <th>Mã số thuế</th>
                                <th>Số điện thoại</th>
                                <th>Số Fax</th>
                                <th>Ngày tạo HD</th>
                                <th>Được tạo bởi</th>
                                @*<th>Chỉnh sửa lần cuối bởi</th>
                                <th>Lần chỉnh sửa cuối lúc</th>*@
                                <th>Ngày trả mẫu</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!--Normal data load-->
                            @*@foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaDon)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenKhachHang)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenDaiDien)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiaChiLayMau)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiaChiKhachHang)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaSoThue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoDienThoai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoFax)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayTaoHD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedBy.Fullname)
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <!--Ngay tra mau = NgayTaoHD + so ngay-->
                                        @Html.DisplayFor(modelItem => item.NgayTaoHD)
                                    </td>
                                    <td>
                                        <button data-toggle="tooltip" title="Chỉnh sửa" onclick="location.href='@Url.Action("Edit", "YeuCauLayMau", new { id = item.Id })'"><span class="fa fa-edit"></span></button>
                                        <button data-toggle="tooltip" title="Xem chi tiết" onclick="location.href='@Url.Action("Details", "YeuCauLayMau", new { id = item.Id })'"><span class="fa fa-info"></span></button>
                                        <button data-toggle="tooltip" title="In" onclick="location.href='@Url.Action("", "")'"><span class="fa fa-print"></span></button>
                                        <button data-toggle="modal" data-target="#xoaModal" data-id="@item.Id" class="open-XoaModal"><span class="fa fa-trash"></span></button>
                                    </td>
                                </tr>
                            }*@
                            <!--Vue.js data load-->
                            <tr v-for="data in tableData[0]">
                                <td>
                                    {{data.MaDon}}
                                </td>
                                <td>
                                    {{data.TenKhachHang}}
                                </td>
                                <td>
                                    {{data.TenDaiDien}}
                                </td>
                                <td>
                                    {{data.DiaChiLayMau}}
                                </td>
                                <td>
                                    {{data.DiaChiKH}}
                                </td>
                                <td>
                                    {{data.MaSoThue}}
                                </td>
                                <td>
                                    {{data.SDT}}
                                </td>
                                <td>
                                    {{data.SoFax}}
                                </td>
                                <td>
                                    {{data.NgayTaoHD}}
                                </td>
                                <td>
                                    {{data.DuocTaoBoi}}
                                </td>
                                @*<td></td>
                                <td></td>*@
                                <td>
                                    <!--Ngay tra mau = NgayTaoHD + so ngay-->
                                    {{data.NgayTaoHD}}
                                </td>
                                <td>
                                    <button data-toggle="tooltip" title="Chỉnh sửa" v-on:click="location.href='@Url.Action("Edit", "YeuCauLayMau")/' + data.Id"><span class="fa fa-edit"></span></button>
                                    <button data-toggle="tooltip" title="Xem chi tiết" v-on:click="location.href='@Url.Action("Details", "YeuCauLayMau")/' + data.Id"><span class="fa fa-info"></span></button>
                                    <button data-toggle="tooltip" title="In" onclick="location.href='@Url.Action("", "")'"><span class="fa fa-print"></span></button>
                                    <button data-toggle="modal" data-target="#xoaModal" v-bind:data-id="data.Id" class="open-XoaModal"><span class="fa fa-trash"></span></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="xoaModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h4>Bạn có chắc chắn muốn xóa mẫu này?</h4>
                <h5>Bạn sẽ không để hoàn tác hành động này.</h5>
                <div class="form-group" align="center">
                    <i id="bookID"></i>
                    <button id="modalSubmitBtn" type="button" class="btn btn-success" data-dismiss="modal" onclick="deleteItem($('#bookID').val())"><span class="fa fa-check"></span></button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-close"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Areas/Administrator/vendors/vuejs/vue.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $phieuyeucauu_app.refreshTable();
            loadNoti();    
        });

        var $target_cacsonhanmau = undefined;

        var $phieuyeucauu_app = new Vue({
            el: '#phieuyeucau-app',
            data: {
                tableData: [],
            },
            methods: {
                refreshTable: function () {
                    $.ajax({
                        type: 'POST',
                        url: ' @Url.Action("RefreshTable", "API")',
                        success: function (res) {
                            if (res.IsOK) {
                                //var tabledata = $("#phieuyeucautable").DataTable();
                                //tabledata.clear();
                                $phieuyeucauu_app.tableData = [];
                                $phieuyeucauu_app.tableData.push(res.Data);
                                loadNoti();
                            }
                            else {
                                console.log("Có lỗi khi mở sổ nhận mẫu " + id);
                            }
                        },
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });
                }
            }
        });    



        $(document).on("click", ".open-XoaModal", function () {
            var itemID = $(this).data('id');
            $(".modal-body #bookID").val(itemID);
        });

        function scrollDown() {
            $("html, body").animate({ scrollTop: $("#phieuyeucautable").offset().top }, 1000);
        }

        function deleteItem(id) {
            $.ajax({
                type: 'POST',
                url: ' @Url.Action("DeleteItem", "YeuCauLayMau") ',
                data: JSON.stringify({ Id: id }),
                success: function (res) {
                    if (res.IsOK) {
                        $phieuyeucauu_app.refreshTable();
                        loadNoti();
                        new PNotify({
                            title: 'Thành công',
                            text: 'xóa mẫu thành công khỏi dữ liệu.',
                            type: 'success',
                            styling: 'bootstrap3'
                        })
                    }
                    else
                    {
                        new PNotify({
                            title: 'Hủy',
                            text: 'mẫu không được xóa khỏi dữ liệu (có thể do đã đc chuyển đi qua các sổ khác).',
                            styling: 'bootstrap3'
                        });
                    }
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });
        }

        

        //var listPhieu;
        function loadNoti() {
            $.ajax({
                type: 'POST',
                url: ' @Url.Action("GetNewContracts", "API") ',
                success: function (res) {
                    if (res.IsOK) {
                        var listPhieu = res.Data;
                        var contract = document.createElement('soan');
                        document.getElementById('newContract').innerHTML = "";
                        contract.innerHTML = " " + listPhieu.length + " ";
                        document.getElementById('newContract').appendChild(contract);
                        if (listPhieu.length > 0) {
                            $('#myNoti').fadeIn(1000);
                            recentlyAddedRows(listPhieu);
                        }
                        else {
                            $('#myNoti').hide();
                        }

                    }
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });
        }      

        function recentlyAddedRows(listPhieu){
            var table = document.getElementById('phieuyeucautable');
            var row, rows = table.rows;
            var cell, cells;
            var rowText;
            for(var i=0, iLen=rows.length; i<iLen; i++){
                row = rows[i];
                cell = row.cells[0];
                if (jQuery.inArray(cell.textContent.trim(), listPhieu) != -1){
                    jQuery(row).addClass("success");
                }
            }
        }

    </script>
}