@model IEnumerable<IERSystem.Areas.Administrator.Models.PhieuYeuCau>

@{
    ViewBag.Title = "Danh sách phiếu yêu cầu";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<br />
<h2>MỤC LỤC</h2>
<input type="button" class="btn btn-info" value="Tạo phiếu yêu cầu mới" onclick="location.href='@Url.Action("Create", "YeuCauLayMau")'" />
<div>
    <div class="page-title">
        <div class="title-left">
            <h3>Hợp đồng lấy mẫu</h3>
        </div>
        <div class="title-right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!--Table dynamic-->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>DANH SÁCH PHIẾU YÊU CẦU <small>Bảng phiếu</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                    <li>
                        <a class="close-link">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="" class="datatable-buttons table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Mã đơn</th>
                            <th>Tên khách hàng</th>
                            <th>Tên đại diện</th>
                            <th>Địa chỉ lấy mẫu</th>
                            <th>Địa chỉ KH</th>
                            <th>Mã số thuế</th>
                            <th>Số điện thoại</th>
                            <th>Số Fax</th>
                            <th>Ngày tạo HD</th>
                            <th>Ngày trả mẫu</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaDon)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenKhachHang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenDaiDien)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaChiLayMau)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaChiKhachHang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaSoThue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoFax)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgayTaoHD)
                                </td>
                                <td>
                                    <!--Ngay tra mau = NgayTaoHD + so ngay-->
                                    @Html.DisplayFor(modelItem => item.NgayTaoHD)
                                </td>
                                <td>
                                    <button data-toggle="tooltip" title="Chỉnh sửa" onclick="location.href='@Url.Action("Edit", "YeuCauLayMau", new { id = item.Id })'"><span class="fa fa-edit"></span></button>
                                    <button data-toggle="tooltip" title="Xem chi tiết" onclick="location.href='@Url.Action("Details", "YeuCauLayMau", new { id = item.Id })'"><span class="fa fa-info"></span></button>
                                    <button data-toggle="tooltip" title="In" onclick="location.href='@Url.Action("", "")'"><span class="fa fa-print"></span></button>
                                    <button data-toggle="tooltip" title="Xóa" onclick="location.href='@Url.Action("Delete", "YeuCauLayMau", new { id = item.Id })'"><span class="fa fa-trash"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}