@model IEnumerable<IERSystem.Areas.Administrator.Models.User>

@{
    ViewBag.Title = "Danh sách người dùng";
}

<div class="row" style="min-height:663px">
    <h2>DANH SÁCH NGƯỜI DÙNG</h2>
    <input type="button" class="btn btn-primary" value="Thêm người dùng" onclick="location.href='@Url.Action("Create", "User")'" />
    <table class="table">
        <tr>
            <th>
                Tên tài khoản
            </th>

            <th>
                Họ và tên
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
 
                <td>
                    @Html.DisplayFor(modelItem => item.fullname)
                </td>
                <td>
                    <input type="button" class="btn btn-primary" value="Chỉnh sửa" onclick="location.href='@Url.Action("Edit", "User", new { id = item.Id })'" />
                    <input type="button" class="btn btn-danger" value="Xóa" onclick="location.href='@Url.Action("Delete", "User", new { id = item.Id })'" />
                </td>
            </tr>
        }

    </table>
</div>

