@model IERSystem.Areas.Administrator.Models.MauLayHienTruong

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MauLayHienTruong</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.MaMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaMau)
                @Html.ValidationMessageFor(model => model.MaMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ViTriLayMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ViTriLayMau)
                @Html.ValidationMessageFor(model => model.ViTriLayMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonVi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonVi)
                @Html.ValidationMessageFor(model => model.DonVi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTaMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTaMau)
                @Html.ValidationMessageFor(model => model.MoTaMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayNhanMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayNhanMau)
                @Html.ValidationMessageFor(model => model.NgayNhanMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayTraMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayTraMau)
                @Html.ValidationMessageFor(model => model.NgayTraMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaHDPhanTich, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaHDPhanTich)
                @Html.ValidationMessageFor(model => model.MaHDPhanTich)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaChiTieuPhanTich, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaChiTieuPhanTich)
                @Html.ValidationMessageFor(model => model.MaChiTieuPhanTich)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
