@model IERSystem.Areas.Administrator.Models.SoNhanMau

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SoNhanMau</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.PhieuYeuCau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhieuYeuCau)
                @Html.ValidationMessageFor(model => model.PhieuYeuCau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenDiaChiKhachHang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDiaChiKhachHang)
                @Html.ValidationMessageFor(model => model.TenDiaChiKhachHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaSo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaSo)
                @Html.ValidationMessageFor(model => model.MaSo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChiTieuThuNghiem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChiTieuThuNghiem)
                @Html.ValidationMessageFor(model => model.ChiTieuThuNghiem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayNhan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayNhan)
                @Html.ValidationMessageFor(model => model.NgayNhan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayTraKetQua, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayTraKetQua)
                @Html.ValidationMessageFor(model => model.NgayTraKetQua)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KHKyNhan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KHKyNhan)
                @Html.ValidationMessageFor(model => model.KHKyNhan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaMauKH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaMauKH)
                @Html.ValidationMessageFor(model => model.MaMauKH)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
