@model IERSystem.Areas.Administrator.Models.DashBoardOutputModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-suitcase"></i> Tổng số hợp đồng</span>
            <div class="count">@Model.HopDongMoi</div>
            <span class="count_bottom"><i class="green">@Model.TiLeHDMoi % </i> Từ tuần trước</span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-check"></i> Tổng số mẫu nhận</span>
            <div class="count">@Model.SoMauDaNhan</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@Model.TiLeMauMoi% </i> Từ tuần trước</span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-leaf"></i> Mẫu đang được thí nghiệm</span>
            <div class="count green">@Model.SoMauDaTN</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@Model.TiLeTNMoi% </i> Từ tuần trước</span>
        </div>
    </div>
    <!-- /top tiles -->

<!--Line graph-->
<!-- bar chart -->
<div class="col-md-8 col-sm-8 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>MẪU NHẬN<small><i class="green">2017</i></small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="graph_bar" style="width:100%; height:280px;"></div>
        </div>
    </div>
</div>
<!-- /bar charts -->

<!--dough nut-->
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320 overflow_hidden">
        <div class="x_title">
            <h2>VỊ TRÍ MẪU</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="" style="width:100%">
                <tr>
                    <th style="width:37%;">
                    </th>
                    <th>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <p class="">Vị trí</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <p class="">Số lượng</p>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td>
                        <canvas id="canvas1" class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                    </td>
                    <td>
                        <table class="tile_info">
                            <tr>
                                <td>
                                    <p><i class="fa fa-square blue"></i>Hợp đồng </p>
                                </td>
                                <td>@Model.StatusGraph[0]</td>
                            </tr>
                            <tr>
                                <td>
                                    <p><i class="fa fa-square green"></i>Nhận </p>
                                </td>
                                <td>@Model.StatusGraph[1]</td>
                            </tr>
                            <tr>
                                <td>
                                    <p><i class="fa fa-square purple"></i>Chuyển </p>
                                </td>
                                <td>@Model.StatusGraph[2]</td>
                            </tr>
                            <tr>
                                <td>
                                    <p><i class="fa fa-square aero"></i>Kết quả</p>
                                </td>
                                <td>@Model.StatusGraph[3]</td>
                            </tr>
                            <tr>
                                <td>
                                    <p><i class="fa fa-square red"></i>Phiếu KQ </p>
                                </td>
                                <td>@Model.StatusGraph[4]</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!--Table-->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>DANH SÁCH MẪU</h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                        </div>
                    </div>
                </div>
                    </div>

            <div class="x_content">
                <table id="" class="datatable-buttons table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Mã đơn</th>
                            <th>Mã mẫu</th>
                            <th>Tên khách hàng</th>
                            <th>Địa chỉ KH</th>
                            <th>Số điện thoại</th>
                            <th>Ngày tạo hợp đồng</th>
                            <th>Ngày trả mẫu</th>
                            <th>Tình trạng mẫu</th>
                            <th>Tình trạng hợp đồng</th>
                        </tr>
                    </thead>

                    <tbody>
                       @foreach(var item in Model.DanhSachMau)
                       {
  
                            switch (item.TinhTrang)
                            {
                                case 0: 
                                    <tr class="default">
                                        <td>@item.PhieuYeuCau.MaDon</td>
                                        <td>@item.MaMau</td>
                                        <td>@item.PhieuYeuCau.TenKhachHang</td>
                                        <td>@item.PhieuYeuCau.DiaChiKhachHang</td>
                                        <td>@item.PhieuYeuCau.SoDienThoai</td>
                                        <td>@item.PhieuYeuCau.NgayTaoHD</td>
                                        <td>@item.PhieuYeuCau.NgayHenTraKQ</td>
                                        <td>Khởi tạo</td>
                                        <td>1</td>
                                    </tr>
                                    break;
                               case 1: 
                                    <tr class="warning">
                                        <td>@item.PhieuYeuCau.MaDon</td>
                                        <td>@item.MaMau</td>
                                        <td>@item.PhieuYeuCau.TenKhachHang</td>
                                        <td>@item.PhieuYeuCau.DiaChiKhachHang</td>
                                        <td>@item.PhieuYeuCau.SoDienThoai</td>
                                        <td>@item.PhieuYeuCau.NgayTaoHD</td>
                                        <td>@item.PhieuYeuCau.NgayHenTraKQ</td>
                                        <td>Đã nhận</td>
                                        <td>1</td>
                                    </tr>
                                    break;
                                case 2: 
                                    <tr class="danger">
                                        <td>@item.PhieuYeuCau.MaDon</td>
                                        <td>@item.MaMau</td>
                                        <td>@item.PhieuYeuCau.TenKhachHang</td>
                                        <td>@item.PhieuYeuCau.DiaChiKhachHang</td>
                                        <td>@item.PhieuYeuCau.SoDienThoai</td>
                                        <td>@item.PhieuYeuCau.NgayTaoHD</td>
                                        <td>@item.PhieuYeuCau.NgayHenTraKQ</td>
                                        <td>Đã chuyển</td>
                                        <td>1</td>
                                    </tr>
                                    break;
                                case 3: 
                                    <tr class="success">
                                        <td>@item.PhieuYeuCau.MaDon</td>
                                        <td>@item.MaMau</td>
                                        <td>@item.PhieuYeuCau.TenKhachHang</td>
                                        <td>@item.PhieuYeuCau.DiaChiKhachHang</td>
                                        <td>@item.PhieuYeuCau.SoDienThoai</td>
                                        <td>@item.PhieuYeuCau.NgayTaoHD</td>
                                        <td>@item.PhieuYeuCau.NgayHenTraKQ</td>
                                        <td>Đã có kết quả</td>
                                        <td>1</td>
                                    </tr>
                                    break;
                                default: break;
                            }
                       }
                    </tbody>
                </table>
            </div>

                </div>

                <div class="clearfix"></div>
            </div>
    <br />

    @*<div class="row">
                <!-- start of weather widget -->
                <div class="col-md-8 col-sm-10 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>THỜI TIẾT</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="temperature">
                                        <b>Thứ hai</b>, 07:30 AM
                                        <span>F</span>
                                        <span><b>C</b></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="weather-icon">
                                        <canvas height="84" width="84" id="partly-cloudy-day"></canvas>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="weather-text">
                                        <h2>Thành phố Hồ Chí Minh <br><i>Mây nhẹ</i></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="weather-text pull-right">
                                    <h3 class="degrees">23</h3>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="row weather-days">
                                <div class="col-sm-2">
                                    <div class="daily-weather">
                                        <h2 class="day">Hai</h2>
                                        <h3 class="degrees">25</h3>
                                        <canvas id="clear-day" width="32" height="32"></canvas>
                                        <h5>15 <i>km/h</i></h5>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="daily-weather">
                                        <h2 class="day">Ba</h2>
                                        <h3 class="degrees">25</h3>
                                        <canvas height="32" width="32" id="rain"></canvas>
                                        <h5>12 <i>km/h</i></h5>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="daily-weather">
                                        <h2 class="day">Tư</h2>
                                        <h3 class="degrees">27</h3>
                                        <canvas height="32" width="32" id="snow"></canvas>
                                        <h5>14 <i>km/h</i></h5>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="daily-weather">
                                        <h2 class="day">Năm</h2>
                                        <h3 class="degrees">28</h3>
                                        <canvas height="32" width="32" id="sleet"></canvas>
                                        <h5>15 <i>km/h</i></h5>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="daily-weather">
                                        <h2 class="day">Sáu</h2>
                                        <h3 class="degrees">28</h3>
                                        <canvas height="32" width="32" id="wind"></canvas>
                                        <h5>11 <i>km/h</i></h5>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="daily-weather">
                                        <h2 class="day">Bảy</h2>
                                        <h3 class="degrees">26</h3>
                                        <canvas height="32" width="32" id="cloudy"></canvas>
                                        <h5>10 <i>km/h</i></h5>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end of weather widget -->
            </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<!-- morris.js -->
<script src="~/Areas/Administrator/vendors/raphael/raphael.min.js"></script>
<script src="~/Areas/Administrator/vendors/morris.js/morris.min.js"></script>
<script>
    $(document).ready(function () {
        Morris.Bar({
            element: 'graph_bar',
            data: [
              { month: 'Tháng 1', value: '@Model.MonthlyGraph[0]' },
              { month: 'Tháng 2', value: '@Model.MonthlyGraph[1]' },
              { month: 'Tháng 3', value: '@Model.MonthlyGraph[2]' },
              { month: 'Tháng 4', value: '@Model.MonthlyGraph[3]' },
              { month: 'Tháng 5', value: '@Model.MonthlyGraph[4]' },
              { month: 'Tháng 6', value: '@Model.MonthlyGraph[5]' },
              { month: 'Tháng 7', value: '@Model.MonthlyGraph[6]' },
              { month: 'Tháng 8', value: '@Model.MonthlyGraph[7]' },
              { month: 'Tháng 9', value: '@Model.MonthlyGraph[8]' },
              { month: 'Tháng 10', value: '@Model.MonthlyGraph[9]' },
              { month: 'Tháng 11', value: '@Model.MonthlyGraph[10]' },
              { month: 'Tháng 12', value: '@Model.MonthlyGraph[11]' },
            ],
            xkey: 'month',
            ykeys: ['value'],
            labels: ['số lượng mẫu'],
            barRatio: 0.4,
            barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
            xLabelAngle: 35,
            hideHover: 'auto',
            resize: true
        });

        $MENU_TOGGLE.on('click', function () {
            $(window).resize();
        });
    });
</script>
<!-- /morris.js -->
    <!-- Doughnut Chart -->
<script>
    $(document).ready(function () {
        var options = {
            legend: false,
            responsive: false
        };

        new Chart(document.getElementById("canvas1"), {
            type: 'doughnut',
            tooltipFillColor: "rgba(51, 51, 51, 0.55)",
            data: {
                labels: [
                  "Kết quả",
                  "Chuyển",
                  "Phiếu KQ",
                  "Nhận",
                  "Hợp đồng"     
                ],
                datasets: [{
                    data: [@Model.StatusGraph[3], @Model.StatusGraph[2], @Model.StatusGraph[4], @Model.StatusGraph[1], @Model.StatusGraph[0]],
                    backgroundColor: [
                      "#BDC3C7",
                      "#9B59B6",
                      "#E74C3C",
                      "#26B99A",
                      "#3498DB"
                    ],
                    hoverBackgroundColor: [
                      "#CFD4D8",
                      "#B370CF",
                      "#E95E4F",
                      "#36CAAB",
                      "#49A9EA"
                    ]
                }]
            },
            options: options
        });
    });
</script>
<!-- /Doughnut Chart -->
}

