@model IERSystem.Areas.Administrator.Models.MauLayHienTruong

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MauLayHienTruong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaMau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaMau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViTriLayMau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViTriLayMau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonVi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonVi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTaMau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaMau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayNhanMau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhanMau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTraMau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTraMau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaHDPhanTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHDPhanTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaChiTieuPhanTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChiTieuPhanTich)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
