@model IERSystem.Areas.Administrator.Models.SoKQThuNghiem

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SoKQThuNghiem</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KyHieuMau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KyHieuMau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayNhanMau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhanMau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTraMau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTraMau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
