@model IEnumerable<IERSystem.Areas.Administrator.Models.SoKQThuNghiem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>SỔ KẾT QUẢ THỬ NGHIỆM</h2>

<input type="button" class="btn btn-info" value="Tạo kết quả thử nghiệm mới" onclick="location.href='@Url.Action("Create", "SoKQThuNghiem")'" />
<input type="button" class="btn btn-success" value="In" onclick="location.href='@Url.Action("Create", "FormKQ")'" />

<div class>
    <div class="page-title">
        <div class="title-left">
            <h3>Sổ kết quả thử nghiệm</h3>
        </div>
        <div class="title-right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        SỔ KẾT QUẢ THỬ NGHIỆM
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link">
                                <i class="fa fa-close"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="display:block;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th rowspan="4">Ký hiệu mẫu</th>
                                <th rowspan="4">Ngày nhận mẫu</th>
                                <th rowspan="4">Ngày trả mẫu</th>
                                @*<th rowspan="4">Chỉ tiêu thử nghiệm</th>
                                    <th rowspan="4">Đơn vị</th>
                                    <th rowspan="4">Kết quả</th>
                                    <th rowspan="4">Người thực hiện</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KyHieuMau)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayNhanMau)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayTraMau)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.ChiTieuThuNghiem)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DonVi)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.KetQua)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NguoiThucHien)
                                        </td>*@
                                    <td>
                                        @Html.ActionLink("Chỉnh", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>