<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - IER System Management</title>

    <!-- Bootstrap -->
    <link href="~/Areas/Administrator/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Areas/Administrator/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Areas/Administrator/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/Areas/Administrator/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="~/Areas/Administrator/Content/css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Areas/Administrator/Content/css/custom.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/Areas/Administrator/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/Areas/Administrator/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    @*<link href="~/Areas/Administrator/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">*@
    <!-- starrr -->
    <link href="~/Areas/Administrator/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="~/Areas/Administrator/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Administrator/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Administrator/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Administrator/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Administrator/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Areas/Administrator/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- Dropzone.js -->
    <link href="~/Areas/Administrator/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
    <!-- PNotify -->
    <link href="~/Areas/Administrator/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="~/Areas/Administrator/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="~/Areas/Administrator/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    
    
      <!-- jQuery -->
    <script src="~/Areas/Administrator/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Areas/Administrator/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Areas/Administrator/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Areas/Administrator/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Areas/Administrator/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Areas/Administrator/vendors/bernii/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Areas/Administrator/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Areas/Administrator/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Areas/Administrator/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Areas/Administrator/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Areas/Administrator/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Areas/Administrator/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Areas/Administrator/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Areas/Administrator/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Areas/Administrator/Content/js/flot/jquery.flot.orderBars.js"></script>
    @*<script src="~/Areas/Administrator/Content/js/flot/date.js"></script>*@
    <script src="~/Areas/Administrator/Content/js/flot/jquery.flot.spline.js"></script>
    <script src="~/Areas/Administrator/Content/js/flot/curvedLines.js"></script>
    <!-- jVectorMap -->
    <script src="~/Areas/Administrator/Content/js/maps/jquery-jvectormap-2.0.3.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Areas/Administrator/Content/js/moment/moment.min.js"></script>
    <script src="~/Areas/Administrator/Content/js/datepicker/daterangepicker.js"></script>

    <!-- jVectorMap -->
    <script src="~/Areas/Administrator/Content/js/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Areas/Administrator/Content/js/maps/jquery-jvectormap-us-aea-en.js"></script>
    <script src="~/Areas/Administrator/Content/js/maps/gdp-data.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Areas/Administrator/Content/js/moment/moment.min.js"></script>
    <script src="~/Areas/Administrator/Content/js/datepicker/daterangepicker.js"></script>
    <!-- jQuery autocomplete -->
    <script src="~/Areas/Administrator/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- Select2 -->
    <script src="~/Areas/Administrator/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="~/Areas/Administrator/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <!-- Switchery -->
    <script src="~/Areas/Administrator/vendors/switchery/dist/switchery.min.js"></script>
    <!-- jQuery Tags Input -->
    <script src="~/Areas/Administrator/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Parsley -->
    <script src="~/Areas/Administrator/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="~/Areas/Administrator/vendors/autosize/dist/autosize.min.js"></script>
    <!-- starrr -->
    <script src="~/Areas/Administrator/vendors/starrr/dist/starrr.js"></script>
    <script src="~/Areas/Administrator/vendors/validator/validator.js"></script>
    <!-- Datatables -->
    <script src="~/Areas/Administrator/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Administrator/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/Administrator/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Areas/Administrator/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Areas/Administrator/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Areas/Administrator/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Areas/Administrator/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Areas/Administrator/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Areas/Administrator/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Areas/Administrator/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Areas/Administrator/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Areas/Administrator/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="~/Areas/Administrator/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Areas/Administrator/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Areas/Administrator/vendors/pdfmake/build/vfs_fonts.js"></script>
    <!-- validator -->
    <script src="~/Areas/Administrator/vendors/validator/validator.min.js"></script>
    <!-- DateJS -->
    <script src="~/Areas/Administrator/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Areas/Administrator/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Areas/Administrator/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Areas/Administrator/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- Dropzone.js -->
    <script src="~/Areas/Administrator/vendors/dropzone/dist/min/dropzone.min.js"></script>
    <!-- morris.js -->
    <script src="~/Areas/Administrator/vendors/raphael/raphael.min.js"></script>
    <script src="~/Areas/Administrator/vendors/morris.js/morris.min.js"></script>
    <!-- PNotify -->
    <script src="~/Areas/Administrator/vendors/pnotify/dist/pnotify.js"></script>
    <script src="~/Areas/Administrator/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/Areas/Administrator/vendors/pnotify/dist/pnotify.nonblock.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="~/Administrator/User/Index" class="site_title"><i class="fa fa-paw"></i> <span>IER System</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="~/Areas/Administrator/Content/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Xin chào,</span>
                            @{
                                if (Session["loggedUser"] != null)
                                {
                                    <h2>@Session["loggedUser"].ToString()</h2>
                                }
                            }
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                            <li>
                                @{
                                    if ((Boolean)Session["isAdmin"] == true)
                                    {
                                        <li><a href="~/Administrator/DashBoard/Index"><i class="fa fa-home"></i>Trang chủ</a></li>
                                        <li><a href="~/Administrator/User/Index"><i class="fa fa-user"></i>Người dùng</a></li>
                                    }
                                    else
                                    {
                                        int role = (int)Session["role"];
                                        if (role == 2)
                                        {
                                        <li><a href="~/Administrator/DashBoard/Index"><i class="fa fa-home"></i>Trang chủ</a></li>
                                        <li><a href="~/Administrator/QuanLyKhachHang/Index"><i class="fa fa-user"></i>Khách hàng</a></li>
                                        <li><a href="~/HopDongLayMau/YeuCauLayMau/Index"><i class="fa fa-briefcase"></i> Hợp đồng lấy mẫu</a></li>
                                        <li><a href="~/QuanLySoNhanMau/CacSoNhanMau/Index"><i class="fa fa-book"></i> Sổ nhận mẫu</a></li>
                                        <li><a href="~/QuanLySoChuyenMau/CacSoChuyenMau/Index"><i class="fa fa-book"></i> Sổ chuyển mẫu</a></li>
                                        <li><a href="~/QuanLyKetQuaPhanTich/SoKQThuNghiem/Index"><i class="fa fa-book"></i> Sổ kết quả thử nghiệm</a></li>
                                        <li><a href="~/QuanLyKetQuaPhanTich/FormKQ/Index"><i class="fa fa-retweet"></i> Phiếu kết quả</a></li>
                                       

                                        }
                                        if (role == 3)
                                        {
                                            <li><a href="~/Administrator/DashBoard/Index"><i class="fa fa-home"></i>Trang chủ</a></li>
                                            <li><a href="~/HopDongLayMau/YeuCauLayMau/Index"><i class="fa fa-briefcase"></i> Hợp đồng lấy mẫu</a></li>
                                            <li><a href="~/QuanLySoNhanMau/CacSoNhanMau/Index"><i class="fa fa-book"></i> Sổ nhận mẫu</a></li>
                                            <li><a href="~/QuanLySoChuyenMau/CacSoChuyenMau/Index"><i class="fa fa-book"></i> Sổ chuyển mẫu</a></li>
                                            <li><a href="~/BaoGiaChiTieu/MauBaoGia/Upload"><i class="fa fa-home"></i> Mẫu báo giá</a></li>
                                            <li><a href="~/Administrator/FormKQ/Index"><i class="fa fa-retweet"></i> Phiếu kết quả</a></li>
                                        }
                                        if (role == 4)
                                        {
                                            <li><a href="~/Administrator/DashBoard/Index"><i class="fa fa-home"></i>Trang chủ</a></li>
                                            <li><a href="~/QuanLySoChuyenMau/CacSoChuyenMau/Index"><i class="fa fa-book"></i> Sổ chuyển mẫu</a></li>
                                            <li><a href="~/QuanLyKetQuaPhanTich/SoKQThuNghiem/Index"><i class="fa fa-book"></i> Sổ kết quả thử nghiệm</a></li>
                                        }
                                        if (role == 5)
                                        {
                                            <li><a href="~/Administrator/DashBoard/Index"><i class="fa fa-home"></i>Trang chủ</a></li>
                                             <li><a href="~/QuanLyKetQuaPhanTich/FormKQ/Index"><i class="fa fa-retweet"></i> Phiếu kết quả</a></li>
                                        }
                                    }

                                    }                     
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Cài đặt">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Toàn màn hình">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Khóa">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Đăng xuất">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Areas/Administrator/Content/images/img.jpg" alt="">@Session["loggedUser"].ToString()
                                
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>
                                        <a href="javascript:;">  Thông tin cá nhân</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Cài đặt</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Giúp đỡ</a>
                                    </li>
                                    <li>
                                        <a href="login.html"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a>
                                    </li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image">
                                                <img src="~/Areas/Administrator/Content/images/img.jpg" alt="Profile Image" />
                                            </span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image">
                                                <img src="~/Areas/Administrator/Content/images/img.jpg" alt="Profile Image" />
                                            </span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image">
                                                <img src="~/Areas/Administrator/Content/images/img.jpg" alt="Profile Image" />
                                            </span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image">
                                                <img src="~/Areas/Administrator/Content/images/img.jpg" alt="Profile Image" />
                                            </span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a href="inbox.html">
                                                <strong>Xem toàn bộ thông báo</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Hệ thống quản lý IER System - Thực hiện bởi <code>52s</code>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- Custom Theme Scripts -->
    <script src="~/Areas/Administrator/Content/js/custom.js"></script>

    <!-- Flot -->
    <script>
        $(document).ready(function () {
            var data1 = [
              [gd(2012, 1, 1), 17],
              [gd(2012, 1, 2), 74],
              [gd(2012, 1, 3), 6],
              [gd(2012, 1, 4), 39],
              [gd(2012, 1, 5), 20],
              [gd(2012, 1, 6), 85],
              [gd(2012, 1, 7), 7]
            ];

            var data2 = [
              [gd(2012, 1, 1), 82],
              [gd(2012, 1, 2), 23],
              [gd(2012, 1, 3), 66],
              [gd(2012, 1, 4), 9],
              [gd(2012, 1, 5), 119],
              [gd(2012, 1, 6), 6],
              [gd(2012, 1, 7), 9]
            ];
            $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
              data1, data2
            ], {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    verticalLines: true,
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#fff'
                },
                colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
                xaxis: {
                    tickColor: "rgba(51, 51, 51, 0.06)",
                    mode: "time",
                    tickSize: [1, "day"],
                    //tickLength: 10,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 10
                },
                yaxis: {
                    ticks: 8,
                    tickColor: "rgba(51, 51, 51, 0.06)",
                },
                tooltip: false
            });

            function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
            }
        });
    </script>
    <!-- /Flot -->
    <!-- Skycons -->
    <script>
        $(document).ready(function () {
            var icons = new Skycons({
                "color": "#73879C"
            }),
              list = [
                "clear-day", "clear-night", "partly-cloudy-day",
                "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                "fog"
              ],
              i;

            for (i = list.length; i--;)
                icons.set(list[i], list[i]);

            icons.play();
        });
    </script>
    <!-- /Skycons -->
    <!-- bootstrap-daterangepicker -->
    <script>
        $(document).ready(function () {

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            };

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });
        });
    </script>
    <!-- /bootstrap-daterangepicker -->
    <!-- gauge.js -->
    <script>
        var opts = {
            lines: 12,
            angle: 0,
            lineWidth: 0.4,
            pointer: {
                length: 0.75,
                strokeWidth: 0.042,
                color: '#1D212A'
            },
            limitMax: 'false',
            colorStart: '#1ABC9C',
            colorStop: '#1ABC9C',
            strokeColor: '#F0F3F3',
            generateGradient: true
        };
        var target = document.getElementById('foo'),
            gauge = new Gauge(target).setOptions(opts);

        gauge.maxValue = 6000;
        gauge.animationSpeed = 32;
        gauge.set(3200);
        gauge.setTextField(document.getElementById("gauge-text"));
    </script>
    <!-- /gauge.js -->
    <!-- Select2 -->
    <script>
        $(document).ready(function () {
            $(".select2_single").select2({
                placeholder: "Select a state",
                allowClear: true
            });
            $(".select2_group").select2({});
            $(".select2_multiple").select2({
                //maximumSelectionLength: 100,
                //placeholder: "Tối đa 100 chỉ tiêu",
                allowClear: true
            });
        });
    </script>
    <!-- /Select2 -->
    <!-- jQuery autocomplete -->
    
    <script>
        $(document).ready(function () {
            @*Change variable here to list of TenKhachHang for autocomplete*@
            var countries = { AD: "Andorra", A2: "Andorra Test", AE: "United Arab Emirates", AF: "Afghanistan", AG: "Antigua and Barbuda", AI: "Anguilla", AL: "Albania", AM: "Armenia", AN: "Netherlands Antilles", AO: "Angola", AQ: "Antarctica", AR: "Argentina", AS: "American Samoa", AT: "Austria", AU: "Australia", AW: "Aruba", AX: "Åland Islands", AZ: "Azerbaijan", BA: "Bosnia and Herzegovina", BB: "Barbados", BD: "Bangladesh", BE: "Belgium", BF: "Burkina Faso", BG: "Bulgaria", BH: "Bahrain", BI: "Burundi", BJ: "Benin", BL: "Saint Barthélemy", BM: "Bermuda", BN: "Brunei", BO: "Bolivia", BQ: "British Antarctic Territory", BR: "Brazil", BS: "Bahamas", BT: "Bhutan", BV: "Bouvet Island", BW: "Botswana", BY: "Belarus", BZ: "Belize", CA: "Canada", CC: "Cocos [Keeling] Islands", CD: "Congo - Kinshasa", CF: "Central African Republic", CG: "Congo - Brazzaville", CH: "Switzerland", CI: "Côte d’Ivoire", CK: "Cook Islands", CL: "Chile", CM: "Cameroon", CN: "China", CO: "Colombia", CR: "Costa Rica", CS: "Serbia and Montenegro", CT: "Canton and Enderbury Islands", CU: "Cuba", CV: "Cape Verde", CX: "Christmas Island", CY: "Cyprus", CZ: "Czech Republic", DD: "East Germany", DE: "Germany", DJ: "Djibouti", DK: "Denmark", DM: "Dominica", DO: "Dominican Republic", DZ: "Algeria", EC: "Ecuador", EE: "Estonia", EG: "Egypt", EH: "Western Sahara", ER: "Eritrea", ES: "Spain", ET: "Ethiopia", FI: "Finland", FJ: "Fiji", FK: "Falkland Islands", FM: "Micronesia", FO: "Faroe Islands", FQ: "French Southern and Antarctic Territories", FR: "France", FX: "Metropolitan France", GA: "Gabon", GB: "United Kingdom", GD: "Grenada", GE: "Georgia", GF: "French Guiana", GG: "Guernsey", GH: "Ghana", GI: "Gibraltar", GL: "Greenland", GM: "Gambia", GN: "Guinea", GP: "Guadeloupe", GQ: "Equatorial Guinea", GR: "Greece", GS: "South Georgia and the South Sandwich Islands", GT: "Guatemala", GU: "Guam", GW: "Guinea-Bissau", GY: "Guyana", HK: "Hong Kong SAR China", HM: "Heard Island and McDonald Islands", HN: "Honduras", HR: "Croatia", HT: "Haiti", HU: "Hungary", ID: "Indonesia", IE: "Ireland", IL: "Israel", IM: "Isle of Man", IN: "India", IO: "British Indian Ocean Territory", IQ: "Iraq", IR: "Iran", IS: "Iceland", IT: "Italy", JE: "Jersey", JM: "Jamaica", JO: "Jordan", JP: "Japan", JT: "Johnston Island", KE: "Kenya", KG: "Kyrgyzstan", KH: "Cambodia", KI: "Kiribati", KM: "Comoros", KN: "Saint Kitts and Nevis", KP: "North Korea", KR: "South Korea", KW: "Kuwait", KY: "Cayman Islands", KZ: "Kazakhstan", LA: "Laos", LB: "Lebanon", LC: "Saint Lucia", LI: "Liechtenstein", LK: "Sri Lanka", LR: "Liberia", LS: "Lesotho", LT: "Lithuania", LU: "Luxembourg", LV: "Latvia", LY: "Libya", MA: "Morocco", MC: "Monaco", MD: "Moldova", ME: "Montenegro", MF: "Saint Martin", MG: "Madagascar", MH: "Marshall Islands", MI: "Midway Islands", MK: "Macedonia", ML: "Mali", MM: "Myanmar [Burma]", MN: "Mongolia", MO: "Macau SAR China", MP: "Northern Mariana Islands", MQ: "Martinique", MR: "Mauritania", MS: "Montserrat", MT: "Malta", MU: "Mauritius", MV: "Maldives", MW: "Malawi", MX: "Mexico", MY: "Malaysia", MZ: "Mozambique", NA: "Namibia", NC: "New Caledonia", NE: "Niger", NF: "Norfolk Island", NG: "Nigeria", NI: "Nicaragua", NL: "Netherlands", NO: "Norway", NP: "Nepal", NQ: "Dronning Maud Land", NR: "Nauru", NT: "Neutral Zone", NU: "Niue", NZ: "New Zealand", OM: "Oman", PA: "Panama", PC: "Pacific Islands Trust Territory", PE: "Peru", PF: "French Polynesia", PG: "Papua New Guinea", PH: "Philippines", PK: "Pakistan", PL: "Poland", PM: "Saint Pierre and Miquelon", PN: "Pitcairn Islands", PR: "Puerto Rico", PS: "Palestinian Territories", PT: "Portugal", PU: "U.S. Miscellaneous Pacific Islands", PW: "Palau", PY: "Paraguay", PZ: "Panama Canal Zone", QA: "Qatar", RE: "Réunion", RO: "Romania", RS: "Serbia", RU: "Russia", RW: "Rwanda", SA: "Saudi Arabia", SB: "Solomon Islands", SC: "Seychelles", SD: "Sudan", SE: "Sweden", SG: "Singapore", SH: "Saint Helena", SI: "Slovenia", SJ: "Svalbard and Jan Mayen", SK: "Slovakia", SL: "Sierra Leone", SM: "San Marino", SN: "Senegal", SO: "Somalia", SR: "Suriname", ST: "São Tomé and Príncipe", SU: "Union of Soviet Socialist Republics", SV: "El Salvador", SY: "Syria", SZ: "Swaziland", TC: "Turks and Caicos Islands", TD: "Chad", TF: "French Southern Territories", TG: "Togo", TH: "Thailand", TJ: "Tajikistan", TK: "Tokelau", TL: "Timor-Leste", TM: "Turkmenistan", TN: "Tunisia", TO: "Tonga", TR: "Turkey", TT: "Trinidad and Tobago", TV: "Tuvalu", TW: "Taiwan", TZ: "Tanzania", UA: "Ukraine", UG: "Uganda", UM: "U.S. Minor Outlying Islands", US: "United States", UY: "Uruguay", UZ: "Uzbekistan", VA: "Vatican City", VC: "Saint Vincent and the Grenadines", VD: "North Vietnam", VE: "Venezuela", VG: "British Virgin Islands", VI: "U.S. Virgin Islands", VN: "Vietnam", VU: "Vanuatu", WF: "Wallis and Futuna", WK: "Wake Island", WS: "Samoa", YD: "People's Democratic Republic of Yemen", YE: "Yemen", YT: "Mayotte", ZA: "South Africa", ZM: "Zambia", ZW: "Zimbabwe", ZZ: "Unknown or Invalid Region" };

            var countriesArray = $.map(countries, function (value, key) {
                return {
                    value: value,
                    data: key
                };
            });

            // initialize autocomplete with custom appendTo
            $('#autocomplete-custom-append').autocomplete({
                lookup: countriesArray,
                appendTo: '#autocomplete-container'
            });
        });
    </script>
    <!-- /jQuery autocomplete -->
    <!-- Datatables -->
    <script>
        $(document).ready(function () {
            var handleDataTableButtons = function () {
                //nthoang: Apply this setting on all datatable-buttons (convert id to class)
                if ($(".datatable-buttons").length) {
                    $(".datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                          {
                              extend: "copy",
                              className: "btn-sm"
                          },
                          //{
                          //    extend: "csv",
                          //    className: "btn-sm"
                          //},
                          //{
                          //    extend: "excel",
                          //    className: "btn-sm"
                          //},
                          {
                              extend: "pdfHtml5",
                              className: "btn-sm"
                          },
                          {
                              extend: "print",
                              className: "btn-sm"
                          },
                        ],
                        responsive: true
                    });
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

            TableManageButtons.init();
        });
    </script>
    <!-- /Datatables -->

    <!-- jVectorMap -->
    <script src="~/Areas/Administrator/Content/js/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Areas/Administrator/Content/js/maps/jquery-jvectormap-us-aea-en.js"></script>
    <script src="~/Areas/Administrator/Content/js/maps/gdp-data.js"></script>
    <script>
        $(document).ready(function () {
            $('#world-map-gdp').vectorMap({
                map: 'world_mill_en',
                backgroundColor: 'transparent',
                zoomOnScroll: false,
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#E6F2F0', '#149B7E'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                onRegionTipShow: function (e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
        });
    </script>
    <!-- /jVectorMap -->

    @RenderSection("scripts", required: false)
</body>
</html>