@model IEnumerable<IERSystem.Areas.Administrator.Models.SoKQThuNghiem>

@{
    ViewBag.Title = "Sổ kết quả thử nghiệm";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>MỤC LỤC</h2>

<input type="button" class="btn btn-info" value="Tạo kết quả thử nghiệm mới" onclick="location.href='@Url.Action("Create", "SoKQThuNghiem")'" />

<div>
    <div class="page-title">
        <div class="title-left">
            <h3>Sổ kết quả thử nghiệm</h3>
        </div>
        <div class="title-right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách mẫu<small><i class="green">5 </i>mẫu mới </small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                    <li>
                        <a class="close-link">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table id="mauThemTable" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                <th class="column-title">Phiếu yêu cầu </th>
                                <th class="column-title">Tên/Địa chỉ KH </th>
                                <th class="column-title">Mã số </th>
                                <th class="column-title">Ngày nhận mẫu </th>
                                <th class="column-title">Ngày trả mẫu </th>
                                <th class="column-title">Mô tả mẫu </th>
                                <th class="column-title no-link last">
                                    <span class="nobr">Trạng thái</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Chọn nhiều ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>

                        <tbody></tbody>

                    </table>
                    <br />
                    <div class="form-group">
                        <div style="position:absolute; right:0; bottom:0;">
                            <button class="btn btn-warning" data-toggle="tooltip" title="Cập nhật mẫu mới"><span class="fa fa-undo"></span></button>
                            <button class="btn btn-success" data-toggle="tooltip" title="Xác nhận thêm mẫu"><span class="fa fa-check"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Table dynamic-->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>DANH SÁCH KẾT QUẢ <small><i class="green">5 </i>mẫu mới </small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                    <li>
                        <a class="close-link">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="" class="datatable-buttons table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Mã mẫu</th>
                            <th>Ngày nhận mẫu</th>
                            <th>Ngày trả mẫu</th>
                            <th>Ngày thêm vào sổ</th>
                            <th>Hành động</th>
                            
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="warning">
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaMau)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgayNhanMau)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgayTraMau)
                                </td>
                                <td>
                                    Hôm nay
                                </td>
                                <td>
                                    <button data-toggle="tooltip" title="Nhập kết quả" onclick="location.href='@Url.Action("Edit", "SoKQThuNghiem", new { id = item.Id })'"><span class="fa fa-file-text"></span></button>
                                    <button data-toggle="tooltip" title="Chỉnh sửa" onclick="location.href='@Url.Action("Edit", "SoKQThuNghiem", new { id = item.Id })'"><span class="fa fa-edit"></span></button>
                                    <button data-toggle="tooltip" title="Xem chi tiết" onclick="location.href='@Url.Action("Details", "SoKQThuNghiem", new { id = item.Id })'"><span class="fa fa-info"></span></button>
                                    <button data-toggle="tooltip" title="In" onclick="location.href='@Url.Action("", "")'"><span class="fa fa-print"></span></button>
                                    <button data-toggle="tooltip" title="Xóa" onclick="location.href='@Url.Action("Delete", "SoKQThuNghiem", new { id = item.Id })'"><span class="fa fa-trash"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}