@model IEnumerable<IERSystem.Areas.Administrator.Models.SoKQThuNghiem>

@{
    ViewBag.Title = "Sổ kết quả thử nghiệm";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>MỤC LỤC</h2>

<input type="button" class="btn btn-info" value="Tạo kết quả thử nghiệm mới" onclick="location.href='@Url.Action("Create", "SoKQThuNghiem")'" />

<div>
    <div class="page-title">
        <div class="title-left">
            <h3>Sổ kết quả thử nghiệm</h3>
        </div>
        <div class="title-right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!--Notification-->
    <div class="alert alert-success alert-dismissible" role="alert" id="myNoti" hidden="hidden">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>
            Chào
            @{
                if (Session["loggedUser"] != null)
                {
                    @Session["loggedUser"].ToString()
                }
            }!
        </strong> Bạn có <i id="numcontract"></i> mẫu mới trong sổ. <a onclick="scrollDown()"><u> Xem </u></a>
        
    </div>
    <!--End of Notification-->

    <div class="clearfix"></div>

    <!--Table dynamic-->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>DANH SÁCH KẾT QUẢ <small><i class="green" id="newContract"> </i> mẫu mới </small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                    <li>
                        <a class="close-link">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="ketquatable" class="datatable-buttons table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Mã mẫu</th>
                            <th>Ngày nhận mẫu</th>
                            <th>Ngày trả mẫu</th>
                            <th>Ngày thêm vào sổ</th>
                            <th>Hành động</th>
                            
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaMau)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgayNhanMau)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgayTraMau)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgayThemVaoSo)
                                </td>
                                <td>
                                    <button data-toggle="tooltip" title="Nhập kết quả" onclick="location.href='@Url.Action("AddResult", "SoKQThuNghiem", new { id = item.Id })'"><i class="fa fa-file-text"></i></button>
                                    @*<button data-toggle="tooltip" title="Chỉnh sửa" onclick="location.href='@Url.Action("Edit", "SoKQThuNghiem", new { id = item.Id })'"><span class="fa fa-edit"></span></button>*@
                                    <button data-toggle="tooltip" title="Xem chi tiết" onclick="location.href='@Url.Action("Details", "SoKQThuNghiem", new { id = item.Id })'"><span class="fa fa-info"></span></button>
                                    <button data-toggle="tooltip" title="In" onclick="location.href='@Url.Action("", "")'"><span class="fa fa-print"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            loadNoti();
        });
        function delFailNoti() {
            new PNotify({
                title: 'Hủy',
                text: 'mẫu không được xóa khỏi dữ liệu.',
                styling: 'bootstrap3'
            });
        }
        function delSucNoti()
        {
            new PNotify({
                title: 'Thành công',
                text: 'xóa mẫu thành công khỏi dữ liệu.',
                type: 'success',
                styling: 'bootstrap3'
            })
        }
        function scrollDown() {
            $("html, body").animate({ scrollTop: $("#ketquatable").offset().top }, 1000);
        }

        //var listPhieu;
        function loadNoti() {
            $.ajax({
                type: 'POST',
                url: ' @Url.Action("GetNewContracts", "API") ',
                success: function (res) {
                    if (res.IsOK) {
                        var listPhieu = res.Data;
                        var contract = document.createElement('soan');
                        document.getElementById('newContract').innerHTML = "";
                        contract.innerHTML = " " + listPhieu.length + " ";
                        document.getElementById('newContract').appendChild(contract);
                        if (listPhieu.length > 0) {
                            $('#myNoti').fadeIn(1000);
                            recentlyAddedRows(listPhieu);
                        }
                        else {
                            $('#myNoti').hide();
                        }

                    }
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });
        }     

        function recentlyAddedRows(listPhieu) {
            var table = document.getElementById('ketquatable');
            var row, rows = table.rows;
            var cell, cells;
            var rowText;
            
            for (var i = 0, iLen = rows.length; i < iLen; i++) {
                row = rows[i];
                cell = row.cells[0];

                for (var j=0; j<listPhieu.length; ++j){
                    if (cell.textContent.trim() == listPhieu[j].MaMau) {
                        if (listPhieu[j].SoLuongKetQua == 0) {
                            jQuery(row).addClass("warning");
                        }
                        else jQuery(row).addClass("success");
                    }
                }
                //if (jQuery.inArray(cell.textContent.trim(), listPhieu.MaMau) != -1) {
                //    jQuery(row).addClass("success");
                //}
            }
        }
    </script>
}