@model IEnumerable<IERSystem.Areas.Administrator.Models.MauLayHienTruong>

    <table class="model-tab">
        <tr>
            <th>TT</th>
            <th>Kí hiệu mẫu</th>
            <th>Vị tri lấy mẫu</th>
            <th>Số lượng</th>
            <th>Mô tả mẫu</th>
            <th>Chỉ tiêu yêu cầu</th>
        </tr>
        @{
            int i = 1;
            foreach (var item in Model)
            {
        
            <tr>
                <td class="text-center">@i</td>
                <td>@item.MaMauKH</td>
                <td>@item.ViTriLayMau</td>
                <td class="text-center">@item.SoLuong</td>
                <td>@item.MoTaMau</td>
                <td>@*@item.MaChiTieuPhanTich*@</td>
            </tr>
                i++;
            }
            do
            {
             <tr>
                <td class="text-center"></td>
                <td></td>
                <td></td>
                <td class="text-center"></td>
                <td></td>
                <td></td>
            </tr>
                i++;
            } while (i <= 15);
        }

 
    </table>

