@model IERSystem.Areas.Administrator.Models.FormKQ

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh sửa</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chỉnh kết quả thử nghiệm</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Nơi lấy mẫu
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.NoiLayMau, new { @class = "form-control col-md-4 col-xs-12", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.NoiLayMau)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Ngày gửi mẫu
                            </label>
                            <div class="form-group input-group-sm col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.NgayGuiMau, new { @class = "date-picker form-control col-md-7 col-xs-12 active", placeholder = "Nhập ngày gửi mẫu vào đây", required = "required", type = "text", id = "NgayGuiMau", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.NgayGuiMau)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Địa chỉ
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control col-md-4 col-xs-12", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.DiaChi)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Loại mẫu
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.LoaiMau, new { @class = "form-control col-md-4 col-xs-12", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.LoaiMau)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Vị trí lấy mẫu
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.ViTriLayMau, new { @class = "form-control col-md-4 col-xs-12", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.ViTriLayMau)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>
                                            DANH SÁCH KẾT QUẢ
                                        </h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content" style="display:block;">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Chỉ tiêu</th>
                                                    <th>Đơn vị</th>
                                                    <th>Giá trị</th>
                                                    <th>Phương pháp phân tích</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Thử nước</td>
                                                    <td>ml</td>
                                                    <td id="tboxKQ"><input type="email" class="form-control" id="ket-qua"></td>
                                                    <td>Ống nghiệm</td>
                                                    <td><button id="btnSaveKQ" type="button" data-toggle="tooltip" title="Lưu"><span class="fa fa-save"></span></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" />
                <input type="button" class="btn btn-danger" value="Quay lại" onclick="location.href='@Url.Action("Index", "FormKQ")'" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
