@model IERSystem.Areas.Administrator.Models.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KhachHang</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDaiDien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDaiDien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoFax)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
