@model IEnumerable<IERSystem.Areas.QuanLyKetQuaPhanTich.Models.MauPTDaChuyenOutputModel>

@{
    ViewBag.Title = "Tạo";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Tạo kết quả thử nghiệm</h2>
<!--Table dynamic-->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>CÁC MẪU ĐÃ CHUYỂN</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="datatable-mauptdachuyen" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Mã mẫu</th>
                        <th>Ngày chuyển mẫu</th>
                        <th>Ngày trả mẫu</th>
                        <th>Hành động</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var mauptdachuyen in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => mauptdachuyen.MaMau)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => mauptdachuyen.NgayChuyen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => mauptdachuyen.NgayTra)
                            </td>
                            <td>
                                <button id="themKQBtn" data-toggle="tooltip" title="Tạo Kết Quả" data-target="#themKQModal"
                                        data-id='@Html.DisplayFor(modelItem => mauptdachuyen.Id)'
                                        data-ngaychuyen='@Html.DisplayFor(modelItem => mauptdachuyen.NgayChuyen)'
                                        data-ngaytra='@Html.DisplayFor(modelItem => mauptdachuyen.NgayTra)'
                                        data-mamau='@Html.DisplayFor(modelItem => mauptdachuyen.MaMau)'>
                                    <span class="fa fa-plus"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="themKQModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="email">Chỉ tiêu thử nghiệm</label>
                    <input type="email" class="form-control" id="chitieu-thunghiem">
                </div>
                <label for="email">Đơn vị</label>
                <input type="email" class="form-control" id="don-vi">

                <div class="form-group">
                    <label for="email">Kết quả</label>
                    <input type="email" class="form-control" id="ket-qua" required="required">
                </div>
                <div class="form-group">
                    <label for="email">Người thực hiện</label>
                    <input type="email" class="form-control" id="nguoi-thuchien">
                </div>
                <div class="modal-footer">
                    <button id="duyetThemMauBtn" type="button" class="btn btn-success" data-dismiss="modal">Thêm Vào Sổ Kết Quả</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>
                                    DANH SÁCH KẾT QUẢ
                                </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="display:block;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Chỉ tiêu</th>
                                            <th>Đơn vị</th>
                                            <th>Giá trị</th>
                                            <th>Phương pháp phân tích</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Thử nước</td>
                                            <td>ml</td>
                                            <td id="tboxKQ"><input type="email" class="form-control" id="ket-qua"></td>
                                            <td>Ống nghiệm</td>
                                            <td><button id="btnSaveKQ" type="button" data-toggle="tooltip" title="Lưu"><span class="fa fa-save"></span></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Trở về", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            const $Global = [];

            $("#duyetThemMauBtn").bind("click", function () {
                var tabledata = $("#datatable-mauptdachuyen tbody");
                var formData = {
                    Id: $(this).prop("data-id"),
                    KiHieuMau: $(this).prop("data-mamau"),
                    NgayChuyenMau: $(this).prop("data-ngaychuyen"),
                    NgayTraMau: $(this).prop("data-ngaytra")
                }
                $.ajax({
                    type: 'POST',
                    url: ' @Url.Action("AddKetQuaPT", "API")',
                    data: JSON.stringify(formData),
                    success: function (res) {
                        if (res.isOk) {
                            console.log(formData);
                            window.location.reload(true);
                        } else {
                            console.log(res.errMsg);
                            alert("Lỗi: Không thể thêm mẫu này vào Sổ KQ Thử Nghiệm")
                        }
                    },
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8'
                });
                //On Row Hover
                tabledata.children().last().hover(OnRowIn, OnRowOut);
            });

        });
        try {
            hljs.initHighlightingOnLoad();
        } catch (err) { }
    </script>
}