@model IERSystem.Areas.Administrator.Models.FormKQ

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Xem chi tiết form kết quả</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                Số
            </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.So)
        </dd>

        <dt>
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                Ký hiệu mẫu
            </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KyHieuMau)
        </dd>

        <dt>
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                Nơi lấy mẫu
            </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiLayMau)
        </dd>

        <dt>
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                Ngày gửi mẫu
            </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGuiMau)
        </dd>

        <dt>
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                Địa chỉ
            </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                Loại mẫu
            </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiMau)
        </dd>

        <dt>
            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                Vị trí lấy mẫu
            </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViTriLayMau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiTieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiTieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonVi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonVi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhuongPhapPhanTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhuongPhapPhanTich)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
