@model IERSystem.Areas.Administrator.Models.FormKQ

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FormKQ</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.So, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.So)
                @Html.ValidationMessageFor(model => model.So)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KyHieuMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KyHieuMau)
                @Html.ValidationMessageFor(model => model.KyHieuMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiLayMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoiLayMau)
                @Html.ValidationMessageFor(model => model.NoiLayMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayGuiMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayGuiMau)
                @Html.ValidationMessageFor(model => model.NgayGuiMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChi)
                @Html.ValidationMessageFor(model => model.DiaChi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoaiMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoaiMau)
                @Html.ValidationMessageFor(model => model.LoaiMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ViTriLayMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ViTriLayMau)
                @Html.ValidationMessageFor(model => model.ViTriLayMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.STT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.STT)
                @Html.ValidationMessageFor(model => model.STT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChiTieu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChiTieu)
                @Html.ValidationMessageFor(model => model.ChiTieu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonVi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonVi)
                @Html.ValidationMessageFor(model => model.DonVi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaTri, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaTri)
                @Html.ValidationMessageFor(model => model.GiaTri)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhuongPhapPhanTich, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhuongPhapPhanTich)
                @Html.ValidationMessageFor(model => model.PhuongPhapPhanTich)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
