@model IEnumerable<IERSystem.Areas.Administrator.Models.FormKQ>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>FORM KẾT QUẢ</h2>

<input type="button" class="btn btn-primary" value="Tạo form kết quả mới" onclick="location.href='@Url.Action("Create", "FormKQ")'" />
<input type="button" class="btn btn-success" value="In" onclick="location.href='@Url.Action("Create", "FormKQ")'" />

<div class>
    <div class="page-title">
        <div class="title-left">
            <h3>Form kết quả</h3>
        </div>
        <div class="title-right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        FORM KẾT QUẢ
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link">
                                <i class="fa fa-close"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="display:block;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Số</th>
                                <th>Ký hiệu mẫu</th>
                                <th>Nơi lấy mẫu</th>
                                <th>Ngày gửi mẫu</th>
                                <th>Địa chỉ</th>
                                <th>Loại mẫu</th>
                                <th>Vị trí lấy mẫu</th>
                                <th>STT</th>
                                <th>Chỉ tiêu</th>
                                <th>Đơn vị</th>
                                <th>Giá trị</th>
                                <th>Phương pháp phân tích</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.So)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KyHieuMau)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NoiLayMau)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayGuiMau)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiaChi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LoaiMau)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ViTriLayMau)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.STT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChiTieu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DonVi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GiaTri)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhuongPhapPhanTich)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KyHieuMau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhanMau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTraMau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiTieuThuNghiem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonVi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KetQua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiThucHien)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KyHieuMau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhanMau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTraMau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiTieuThuNghiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonVi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KetQua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiThucHien)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>
*@