@model IERSystem.Areas.Administrator.Models.RequestInputModel

@{
    ViewBag.Title = "Tạo mới yêu cầu";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Tạo yêu cầu lấy mẫu</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chỉnh sửa yêu cầu</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Mã đơn
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.MaDon, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.MaDon)
                            </div>
                        </div>
                        <div class="clearfix"/>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Tên khách hàng
                            </label>
                            @*<div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" name="country" id="autocomplete-custom-append" class="form-control col-md-10" style="float: left;" autocomplete="off">
                                <div id="autocomplete-container" style="position: relative; float: left; width: 400px; margin: 10px;"><div class="autocomplete-suggestions" style="position: absolute; max-height: 300px; z-index: 9999; width: 343px; display: none;"><div class="autocomplete-suggestion" data-index="0"><strong>A</strong>ndorr<strong>a</strong></div><div class="autocomplete-suggestion" data-index="1"><strong>A</strong>ndorr<strong>a</strong> Test</div><div class="autocomplete-suggestion" data-index="2">United <strong>A</strong>r<strong>a</strong>b Emir<strong>a</strong>tes</div><div class="autocomplete-suggestion" data-index="3"><strong>A</strong>fgh<strong>a</strong>nist<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="4"><strong>A</strong>ntigu<strong>a</strong> <strong>a</strong>nd B<strong>a</strong>rbud<strong>a</strong></div><div class="autocomplete-suggestion" data-index="5"><strong>A</strong>nguill<strong>a</strong></div><div class="autocomplete-suggestion" data-index="6"><strong>A</strong>lb<strong>a</strong>ni<strong>a</strong></div><div class="autocomplete-suggestion" data-index="7"><strong>A</strong>rmeni<strong>a</strong></div><div class="autocomplete-suggestion" data-index="8">Netherl<strong>a</strong>nds <strong>A</strong>ntilles</div><div class="autocomplete-suggestion" data-index="9"><strong>A</strong>ngol<strong>a</strong></div><div class="autocomplete-suggestion" data-index="10"><strong>A</strong>nt<strong>a</strong>rctic<strong>a</strong></div><div class="autocomplete-suggestion" data-index="11"><strong>A</strong>rgentin<strong>a</strong></div><div class="autocomplete-suggestion" data-index="12"><strong>A</strong>meric<strong>a</strong>n S<strong>a</strong>mo<strong>a</strong></div><div class="autocomplete-suggestion" data-index="13"><strong>A</strong>ustri<strong>a</strong></div><div class="autocomplete-suggestion" data-index="14"><strong>A</strong>ustr<strong>a</strong>li<strong>a</strong></div><div class="autocomplete-suggestion" data-index="15"><strong>A</strong>rub<strong>a</strong></div><div class="autocomplete-suggestion" data-index="16">Ål<strong>a</strong>nd Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="17"><strong>A</strong>zerb<strong>a</strong>ij<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="18">Bosni<strong>a</strong> <strong>a</strong>nd Herzegovin<strong>a</strong></div><div class="autocomplete-suggestion" data-index="19">B<strong>a</strong>rb<strong>a</strong>dos</div><div class="autocomplete-suggestion" data-index="20">B<strong>a</strong>ngl<strong>a</strong>desh</div><div class="autocomplete-suggestion" data-index="21">Burkin<strong>a</strong> F<strong>a</strong>so</div><div class="autocomplete-suggestion" data-index="22">Bulg<strong>a</strong>ri<strong>a</strong></div><div class="autocomplete-suggestion" data-index="23">B<strong>a</strong>hr<strong>a</strong>in</div><div class="autocomplete-suggestion" data-index="24">S<strong>a</strong>int B<strong>a</strong>rthélemy</div><div class="autocomplete-suggestion" data-index="25">Bermud<strong>a</strong></div><div class="autocomplete-suggestion" data-index="26">Bolivi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="27">British <strong>A</strong>nt<strong>a</strong>rctic Territory</div><div class="autocomplete-suggestion" data-index="28">Br<strong>a</strong>zil</div><div class="autocomplete-suggestion" data-index="29">B<strong>a</strong>h<strong>a</strong>m<strong>a</strong>s</div><div class="autocomplete-suggestion" data-index="30">Bhut<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="31">Bouvet Isl<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="32">Botsw<strong>a</strong>n<strong>a</strong></div><div class="autocomplete-suggestion" data-index="33">Bel<strong>a</strong>rus</div><div class="autocomplete-suggestion" data-index="34">C<strong>a</strong>n<strong>a</strong>d<strong>a</strong></div><div class="autocomplete-suggestion" data-index="35">Cocos [Keeling] Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="36">Congo - Kinsh<strong>a</strong>s<strong>a</strong></div><div class="autocomplete-suggestion" data-index="37">Centr<strong>a</strong>l <strong>A</strong>fric<strong>a</strong>n Republic</div><div class="autocomplete-suggestion" data-index="38">Congo - Br<strong>a</strong>zz<strong>a</strong>ville</div><div class="autocomplete-suggestion" data-index="39">Switzerl<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="40">Cook Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="41">C<strong>a</strong>meroon</div><div class="autocomplete-suggestion" data-index="42">Chin<strong>a</strong></div><div class="autocomplete-suggestion" data-index="43">Colombi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="44">Cost<strong>a</strong> Ric<strong>a</strong></div><div class="autocomplete-suggestion" data-index="45">Serbi<strong>a</strong> <strong>a</strong>nd Montenegro</div><div class="autocomplete-suggestion" data-index="46">C<strong>a</strong>nton <strong>a</strong>nd Enderbury Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="47">Cub<strong>a</strong></div><div class="autocomplete-suggestion" data-index="48">C<strong>a</strong>pe Verde</div><div class="autocomplete-suggestion" data-index="49">Christm<strong>a</strong>s Isl<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="50">E<strong>a</strong>st Germ<strong>a</strong>ny</div><div class="autocomplete-suggestion" data-index="51">Germ<strong>a</strong>ny</div><div class="autocomplete-suggestion" data-index="52">Denm<strong>a</strong>rk</div><div class="autocomplete-suggestion" data-index="53">Dominic<strong>a</strong></div><div class="autocomplete-suggestion" data-index="54">Dominic<strong>a</strong>n Republic</div><div class="autocomplete-suggestion" data-index="55"><strong>A</strong>lgeri<strong>a</strong></div><div class="autocomplete-suggestion" data-index="56">Ecu<strong>a</strong>dor</div><div class="autocomplete-suggestion" data-index="57">Estoni<strong>a</strong></div><div class="autocomplete-suggestion" data-index="58">Western S<strong>a</strong>h<strong>a</strong>r<strong>a</strong></div><div class="autocomplete-suggestion" data-index="59">Eritre<strong>a</strong></div><div class="autocomplete-suggestion" data-index="60">Sp<strong>a</strong>in</div><div class="autocomplete-suggestion" data-index="61">Ethiopi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="62">Finl<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="63">F<strong>a</strong>lkl<strong>a</strong>nd Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="64">Micronesi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="65">F<strong>a</strong>roe Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="66">French Southern <strong>a</strong>nd <strong>A</strong>nt<strong>a</strong>rctic Territories</div><div class="autocomplete-suggestion" data-index="67">Fr<strong>a</strong>nce</div><div class="autocomplete-suggestion" data-index="68">Metropolit<strong>a</strong>n Fr<strong>a</strong>nce</div><div class="autocomplete-suggestion" data-index="69">G<strong>a</strong>bon</div><div class="autocomplete-suggestion" data-index="70">Gren<strong>a</strong>d<strong>a</strong></div><div class="autocomplete-suggestion" data-index="71">Georgi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="72">French Gui<strong>a</strong>n<strong>a</strong></div><div class="autocomplete-suggestion" data-index="73">Gh<strong>a</strong>n<strong>a</strong></div><div class="autocomplete-suggestion" data-index="74">Gibr<strong>a</strong>lt<strong>a</strong>r</div><div class="autocomplete-suggestion" data-index="75">Greenl<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="76">G<strong>a</strong>mbi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="77">Guine<strong>a</strong></div><div class="autocomplete-suggestion" data-index="78">Gu<strong>a</strong>deloupe</div><div class="autocomplete-suggestion" data-index="79">Equ<strong>a</strong>tori<strong>a</strong>l Guine<strong>a</strong></div><div class="autocomplete-suggestion" data-index="80">South Georgi<strong>a</strong> <strong>a</strong>nd the South S<strong>a</strong>ndwich Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="81">Gu<strong>a</strong>tem<strong>a</strong>l<strong>a</strong></div><div class="autocomplete-suggestion" data-index="82">Gu<strong>a</strong>m</div><div class="autocomplete-suggestion" data-index="83">Guine<strong>a</strong>-Biss<strong>a</strong>u</div><div class="autocomplete-suggestion" data-index="84">Guy<strong>a</strong>n<strong>a</strong></div><div class="autocomplete-suggestion" data-index="85">Hong Kong S<strong>A</strong>R Chin<strong>a</strong></div><div class="autocomplete-suggestion" data-index="86">He<strong>a</strong>rd Isl<strong>a</strong>nd <strong>a</strong>nd McDon<strong>a</strong>ld Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="87">Hondur<strong>a</strong>s</div><div class="autocomplete-suggestion" data-index="88">Cro<strong>a</strong>ti<strong>a</strong></div><div class="autocomplete-suggestion" data-index="89">H<strong>a</strong>iti</div><div class="autocomplete-suggestion" data-index="90">Hung<strong>a</strong>ry</div><div class="autocomplete-suggestion" data-index="91">Indonesi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="92">Irel<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="93">Isr<strong>a</strong>el</div><div class="autocomplete-suggestion" data-index="94">Isle of M<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="95">Indi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="96">British Indi<strong>a</strong>n Oce<strong>a</strong>n Territory</div><div class="autocomplete-suggestion" data-index="97">Ir<strong>a</strong>q</div><div class="autocomplete-suggestion" data-index="98">Ir<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="99">Icel<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="100">It<strong>a</strong>ly</div><div class="autocomplete-suggestion" data-index="101">J<strong>a</strong>m<strong>a</strong>ic<strong>a</strong></div><div class="autocomplete-suggestion" data-index="102">Jord<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="103">J<strong>a</strong>p<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="104">Johnston Isl<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="105">Keny<strong>a</strong></div><div class="autocomplete-suggestion" data-index="106">Kyrgyzst<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="107">C<strong>a</strong>mbodi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="108">Kirib<strong>a</strong>ti</div><div class="autocomplete-suggestion" data-index="109">S<strong>a</strong>int Kitts <strong>a</strong>nd Nevis</div><div class="autocomplete-suggestion" data-index="110">North Kore<strong>a</strong></div><div class="autocomplete-suggestion" data-index="111">South Kore<strong>a</strong></div><div class="autocomplete-suggestion" data-index="112">Kuw<strong>a</strong>it</div><div class="autocomplete-suggestion" data-index="113">C<strong>a</strong>ym<strong>a</strong>n Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="114">K<strong>a</strong>z<strong>a</strong>khst<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="115">L<strong>a</strong>os</div><div class="autocomplete-suggestion" data-index="116">Leb<strong>a</strong>non</div><div class="autocomplete-suggestion" data-index="117">S<strong>a</strong>int Luci<strong>a</strong></div><div class="autocomplete-suggestion" data-index="118">Sri L<strong>a</strong>nk<strong>a</strong></div><div class="autocomplete-suggestion" data-index="119">Liberi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="120">Lithu<strong>a</strong>ni<strong>a</strong></div><div class="autocomplete-suggestion" data-index="121">L<strong>a</strong>tvi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="122">Liby<strong>a</strong></div><div class="autocomplete-suggestion" data-index="123">Mon<strong>a</strong>co</div><div class="autocomplete-suggestion" data-index="124">Moldov<strong>a</strong></div><div class="autocomplete-suggestion" data-index="125">S<strong>a</strong>int M<strong>a</strong>rtin</div><div class="autocomplete-suggestion" data-index="126">M<strong>a</strong>d<strong>a</strong>g<strong>a</strong>sc<strong>a</strong>r</div><div class="autocomplete-suggestion" data-index="127">M<strong>a</strong>rsh<strong>a</strong>ll Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="128">Midw<strong>a</strong>y Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="129">M<strong>a</strong>cedoni<strong>a</strong></div><div class="autocomplete-suggestion" data-index="130">M<strong>a</strong>li</div><div class="autocomplete-suggestion" data-index="131">My<strong>a</strong>nm<strong>a</strong>r [Burm<strong>a</strong>]</div><div class="autocomplete-suggestion" data-index="132">Mongoli<strong>a</strong></div><div class="autocomplete-suggestion" data-index="133">M<strong>a</strong>c<strong>a</strong>u S<strong>A</strong>R Chin<strong>a</strong></div><div class="autocomplete-suggestion" data-index="134">Northern M<strong>a</strong>ri<strong>a</strong>n<strong>a</strong> Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="135">M<strong>a</strong>rtinique</div><div class="autocomplete-suggestion" data-index="136">M<strong>a</strong>urit<strong>a</strong>ni<strong>a</strong></div><div class="autocomplete-suggestion" data-index="137">Montserr<strong>a</strong>t</div><div class="autocomplete-suggestion" data-index="138">M<strong>a</strong>lt<strong>a</strong></div><div class="autocomplete-suggestion" data-index="139">M<strong>a</strong>uritius</div><div class="autocomplete-suggestion" data-index="140">M<strong>a</strong>ldives</div><div class="autocomplete-suggestion" data-index="141">M<strong>a</strong>l<strong>a</strong>wi</div><div class="autocomplete-suggestion" data-index="142">M<strong>a</strong>l<strong>a</strong>ysi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="143">Moz<strong>a</strong>mbique</div><div class="autocomplete-suggestion" data-index="144">N<strong>a</strong>mibi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="145">New C<strong>a</strong>ledoni<strong>a</strong></div><div class="autocomplete-suggestion" data-index="146">Norfolk Isl<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="147">Nigeri<strong>a</strong></div><div class="autocomplete-suggestion" data-index="148">Nic<strong>a</strong>r<strong>a</strong>gu<strong>a</strong></div><div class="autocomplete-suggestion" data-index="149">Netherl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="150">Norw<strong>a</strong>y</div><div class="autocomplete-suggestion" data-index="151">Nep<strong>a</strong>l</div><div class="autocomplete-suggestion" data-index="152">Dronning M<strong>a</strong>ud L<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="153">N<strong>a</strong>uru</div><div class="autocomplete-suggestion" data-index="154">Neutr<strong>a</strong>l Zone</div><div class="autocomplete-suggestion" data-index="155">New Ze<strong>a</strong>l<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="156">Om<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="157">P<strong>a</strong>n<strong>a</strong>m<strong>a</strong></div><div class="autocomplete-suggestion" data-index="158">P<strong>a</strong>cific Isl<strong>a</strong>nds Trust Territory</div><div class="autocomplete-suggestion" data-index="159">French Polynesi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="160">P<strong>a</strong>pu<strong>a</strong> New Guine<strong>a</strong></div><div class="autocomplete-suggestion" data-index="161">P<strong>a</strong>kist<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="162">Pol<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="163">S<strong>a</strong>int Pierre <strong>a</strong>nd Miquelon</div><div class="autocomplete-suggestion" data-index="164">Pitc<strong>a</strong>irn Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="165">P<strong>a</strong>lestini<strong>a</strong>n Territories</div><div class="autocomplete-suggestion" data-index="166">Portug<strong>a</strong>l</div><div class="autocomplete-suggestion" data-index="167">U.S. Miscell<strong>a</strong>neous P<strong>a</strong>cific Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="168">P<strong>a</strong>l<strong>a</strong>u</div><div class="autocomplete-suggestion" data-index="169">P<strong>a</strong>r<strong>a</strong>gu<strong>a</strong>y</div><div class="autocomplete-suggestion" data-index="170">P<strong>a</strong>n<strong>a</strong>m<strong>a</strong> C<strong>a</strong>n<strong>a</strong>l Zone</div><div class="autocomplete-suggestion" data-index="171">Q<strong>a</strong>t<strong>a</strong>r</div><div class="autocomplete-suggestion" data-index="172">Rom<strong>a</strong>ni<strong>a</strong></div><div class="autocomplete-suggestion" data-index="173">Serbi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="174">Russi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="175">Rw<strong>a</strong>nd<strong>a</strong></div><div class="autocomplete-suggestion" data-index="176">S<strong>a</strong>udi <strong>A</strong>r<strong>a</strong>bi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="177">Solomon Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="178">Sud<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="179">Sing<strong>a</strong>pore</div><div class="autocomplete-suggestion" data-index="180">S<strong>a</strong>int Helen<strong>a</strong></div><div class="autocomplete-suggestion" data-index="181">Sloveni<strong>a</strong></div><div class="autocomplete-suggestion" data-index="182">Sv<strong>a</strong>lb<strong>a</strong>rd <strong>a</strong>nd J<strong>a</strong>n M<strong>a</strong>yen</div><div class="autocomplete-suggestion" data-index="183">Slov<strong>a</strong>ki<strong>a</strong></div><div class="autocomplete-suggestion" data-index="184">Sierr<strong>a</strong> Leone</div><div class="autocomplete-suggestion" data-index="185">S<strong>a</strong>n M<strong>a</strong>rino</div><div class="autocomplete-suggestion" data-index="186">Seneg<strong>a</strong>l</div><div class="autocomplete-suggestion" data-index="187">Som<strong>a</strong>li<strong>a</strong></div><div class="autocomplete-suggestion" data-index="188">Surin<strong>a</strong>me</div><div class="autocomplete-suggestion" data-index="189">São Tomé <strong>a</strong>nd Príncipe</div><div class="autocomplete-suggestion" data-index="190">Union of Soviet Soci<strong>a</strong>list Republics</div><div class="autocomplete-suggestion" data-index="191">El S<strong>a</strong>lv<strong>a</strong>dor</div><div class="autocomplete-suggestion" data-index="192">Syri<strong>a</strong></div><div class="autocomplete-suggestion" data-index="193">Sw<strong>a</strong>zil<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="194">Turks <strong>a</strong>nd C<strong>a</strong>icos Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="195">Ch<strong>a</strong>d</div><div class="autocomplete-suggestion" data-index="196">Th<strong>a</strong>il<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="197">T<strong>a</strong>jikist<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="198">Tokel<strong>a</strong>u</div><div class="autocomplete-suggestion" data-index="199">Turkmenist<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="200">Tunisi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="201">Tong<strong>a</strong></div><div class="autocomplete-suggestion" data-index="202">Trinid<strong>a</strong>d <strong>a</strong>nd Tob<strong>a</strong>go</div><div class="autocomplete-suggestion" data-index="203">Tuv<strong>a</strong>lu</div><div class="autocomplete-suggestion" data-index="204">T<strong>a</strong>iw<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="205">T<strong>a</strong>nz<strong>a</strong>ni<strong>a</strong></div><div class="autocomplete-suggestion" data-index="206">Ukr<strong>a</strong>ine</div><div class="autocomplete-suggestion" data-index="207">Ug<strong>a</strong>nd<strong>a</strong></div><div class="autocomplete-suggestion" data-index="208">U.S. Minor Outlying Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="209">United St<strong>a</strong>tes</div><div class="autocomplete-suggestion" data-index="210">Urugu<strong>a</strong>y</div><div class="autocomplete-suggestion" data-index="211">Uzbekist<strong>a</strong>n</div><div class="autocomplete-suggestion" data-index="212">V<strong>a</strong>tic<strong>a</strong>n City</div><div class="autocomplete-suggestion" data-index="213">S<strong>a</strong>int Vincent <strong>a</strong>nd the Gren<strong>a</strong>dines</div><div class="autocomplete-suggestion" data-index="214">North Vietn<strong>a</strong>m</div><div class="autocomplete-suggestion" data-index="215">Venezuel<strong>a</strong></div><div class="autocomplete-suggestion" data-index="216">British Virgin Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="217">U.S. Virgin Isl<strong>a</strong>nds</div><div class="autocomplete-suggestion" data-index="218">Vietn<strong>a</strong>m</div><div class="autocomplete-suggestion" data-index="219">V<strong>a</strong>nu<strong>a</strong>tu</div><div class="autocomplete-suggestion" data-index="220">W<strong>a</strong>llis <strong>a</strong>nd Futun<strong>a</strong></div><div class="autocomplete-suggestion" data-index="221">W<strong>a</strong>ke Isl<strong>a</strong>nd</div><div class="autocomplete-suggestion" data-index="222">S<strong>a</strong>mo<strong>a</strong></div><div class="autocomplete-suggestion" data-index="223">People's Democr<strong>a</strong>tic Republic of Yemen</div><div class="autocomplete-suggestion" data-index="224">M<strong>a</strong>yotte</div><div class="autocomplete-suggestion" data-index="225">South <strong>A</strong>fric<strong>a</strong></div><div class="autocomplete-suggestion" data-index="226">Z<strong>a</strong>mbi<strong>a</strong></div><div class="autocomplete-suggestion" data-index="227">Zimb<strong>a</strong>bwe</div><div class="autocomplete-suggestion" data-index="228">Unknown or Inv<strong>a</strong>lid Region</div></div></div>
                            </div>*@
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.TenKhachHang, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.TenKhachHang)  
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Mã số thuế
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.MaSoThue, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.MaSoThue)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Người đại diện
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.TenDaiDien, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.TenDaiDien)
                            </div>
                            <label class="control-label col-md-offset-1 col-sm-1 col-xs-12" for="first-name">
                                SĐT
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                @Html.TextBoxFor(model => model.SoDienThoai, new { @class = "form-control col-md-2 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.SoDienThoai)
                            </div>
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">
                                Fax
                            </label>
                            <div class="col-md-1 col-sm-2 col-xs-12">
                                @Html.TextBoxFor(model => model.SoFax, new { @class = "form-control col-md-2 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.SoFax)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Nơi lấy mẫu
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.DiaChiLayMau, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.DiaChiLayMau)
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Ngày gửi mẫu/lấy mẫu
                            </label>
                            <div class="form-group input-group-sm col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.NgayTaoHD, new { @class = "date-picker form-control col-md-7 col-xs-12 active", placeholder = "Nhập ngày gửi/lấy mẫu vào đây", required = "required", type = "text",id="NgayTaoHD"})
                                @Html.ValidationMessageFor(model => model.NgayTaoHD)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Địa chỉ
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.DiaChiKhachHang, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.DiaChiKhachHang)
                            </div>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Ngày dự kiến trả mẫu
                            </label>
                            <div class="form-group input-group-sm col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.NgayDuKienTraMau, new { @class = "form-control datepicker", placeholder = "Nhập ngày dự kiến trả mẫu vào đây",required = "required", type = "text",id="NgayDuKienTraMau" })
                                @Html.ValidationMessageFor(model => model.NgayDuKienTraMau)
                            </div>
                        </div>

                        <div class="form-group" style="display:none">
                            @Html.LabelFor(model => model.PhuongPhapLayMau, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PhuongPhapLayMau)
                                @Html.ValidationMessageFor(model => model.PhuongPhapLayMau)
                            </div>
                        </div>

                        <div class="form-group" style="display:none">
                            @Html.LabelFor(model => model.TenTieuChuanDoiChieu, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TenTieuChuanDoiChieu)
                                @Html.ValidationMessageFor(model => model.TenTieuChuanDoiChieu)
                            </div>
                        </div>

                        <div class="form-group" style="display:none">
                            @Html.LabelFor(model => model.PhiThiNghiemTamTinh, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PhiThiNghiemTamTinh, new {@value="0" })
                                @Html.ValidationMessageFor(model => model.PhiThiNghiemTamTinh)
                            </div>
                        </div>

                        <div class="form-group" style="display:none">
                            @Html.LabelFor(model => model.TienKhachHangTraTruoc, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TienKhachHangTraTruoc, new { @value = "0" })
                                @Html.ValidationMessageFor(model => model.TienKhachHangTraTruoc)
                            </div>
                        </div>

                        @*<div class="form-group" style="display:none">
                            @Html.LabelFor(model => model.DaGuiMau, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DaGuiMau)
                                @Html.ValidationMessageFor(model => model.DaGuiMau)
                            </div>
                        </div>*@
                        <h2 class="StepTitle">Thông Tin Các Mẫu</h2>
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <button id="btnThemMau" type="button" 
                                        data-toggle="modal" data-target="#themMauModal"
                                        class="btn btn-success">Thêm Mẫu</button>
                            </div>
                            <!-- Modal -->
                            <div id="themMauModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Modal Header</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="email">Kí Hiệu Mẫu:</label>
                                                <input type="email" class="form-control" id="kh-mau">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Vị Trí Lấy Mẫu:</label>
                                                <input type="email" class="form-control" id="vitri-laymau">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Số Lượng:</label>
                                                <input type="email" class="form-control" id="so-luong">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Mô Tả Mẫu:</label>
                                                <input type="email" class="form-control" id="mota-mau">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Chỉ Tiêu Yêu Cầu:</label>
                                                <input type="email" class="form-control" id="chitieu-yeucau">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="saveMauBtn" type="button" class="btn btn-success" data-dismiss="modal">Thêm Mẫu</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="sampledata-table"
                                       class="table table-striped table-bordered dataTable no-footer"
                                       role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="column-title">TT</th>
                                            <th class="column-title">KH Mẫu</th>
                                            <th class="column-title">Vị Trí Lấy Mẫu</th>
                                            <th class="column-title">Số Lượng</th>
                                            <th class="column-title">Mô Tả Mẫu</th>
                                            <th class="column-title">Chỉ Tiêu Yêu Cầu</th>
                                            <th class="column-title"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <input id="submitBtn" type="submit" class="btn btn-success" value="Tạo" />
                                <input type="button" class="btn btn-danger" value="Quay lại" onclick="location.href='@Url.Action("Index", "Request")'" />
                            </div>
                        </div>
                    </form> 
                 </div>
            </div>
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <!--nthoang-PhieuYeuCauThuNghiemView: Editable Table-->
    <!--nthoang-Cac logic lien quan den Bang Mau duoc code tai day-->
    
<script>
    $(document).ready(function () {
        $('#NgayTaoHD').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_1"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#NgayDuKienTraMau').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_1"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#themMauModal').on('hidden.bs.modal', function () {
            $(this).find("input,textarea,select").val('').end();

        });

        function Delete() {
            var par = $(this).parent().parent(); //tr
            par.remove();
        }

        function OnRowIn() {
            var deleteCell = $(this).children().last();
            deleteCell.html("<a id='deleteRowBtn' href='#'><span class='glyphicon glyphicon-remove'></span></a>");
            $('#deleteRowBtn').bind("click", Delete);
        }

        function OnRowOut() {
            $(this).children().last().html('');
        }

        $("#saveMauBtn").bind("click", function() {
            var tabledata = $("#sampledata-table tbody");
            tabledata.append(
                "<tr>" +
                "<td></td>" +
                "<td>" + $("#kh-mau").val() + "</td>" +
                "<td>" + $("#vitri-laymau").val() + "</td>" +
                "<td>" + $("#so-luong").val() + "</td>" +
                "<td>" + $("#mota-mau").val() + "</td>" +
                "<td>" + $("#chitieu-yeucau").val() + "</td>" +
                "<td></td>" +
                "</tr>");

            //On Row Hover
            tabledata.children().last().hover(OnRowIn, OnRowOut)
        });
            

        $("#submitBtn").bind("click", function () {
            
            function getFormData() {
                var res = {
                    MaDon: $("#MaDon").val(),
                    TenKhachHang: $("#TenKhachHang").val(),
                    MaSoThue: $("#MaSoThue").val(),
                    TenDaiDien: $("#TenDaiDien").val(),
                    SoDienThoai: $("#SoDienThoai").val(),
                    SoFax: $("#SoFax").val(),
                    DiaChiLayMau: $("#DiaChiLayMau").val(),
                    DiaChiKhachHang: $("#DiaChiKhachHang").val(),
                    NgayTaoHD: $("#NgayTaoHD").val(),
                    NgayDuKienTraMau: $("#NgayDuKienTraMau").val(),
                    PhuongPhapLayMau: $("#PhuongPhapLayMau").val(),
                    TenTieuChuanDoiChieu: $("#TenTieuChuanDoiChieu").val(),
                    PhiThiNghiemTamTinh: $("#PhiThiNghiemTamTinh").val(),
                    TienKhachHangTraTruoc: $("#TienKhachHangTraTruoc").val()
                };
                var sampledata = $("#sampledata-table tbody tr").map(function (i, elem) {
                    var rowdata = $(elem).find("td").map(function () { return $(this).text(); }).get();
                    //alert(rowdata);
                    return {
                        MaMau: rowdata[1],
                        ViTriLayMau: rowdata[2],
                        Soluong: rowdata[3],
                        MoTaMau: rowdata[4],
                        ChiTieuPhanTich: rowdata[5]
                    }
                }).get();
                res.MauLayHienTruongs = sampledata;
                //alert(res.toSource());
                return res;
            }
            var formData = getFormData();
            $.ajax({
                type: "POST",
                url: '/Administrator/Request/CreateNew/',
                data: JSON.stringify(formData),
                success: function (res) {
                    if (res.isOk) {
                        console.log(formdata);
                    } else {
                        console.log(res.errMsg);
                    }
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });
        });
    });
</script>

    <!-- jQuery autocomplete -->
<script>
    $(document).ready(function () {
        var countries = { AD: "Andorra", A2: "Andorra Test", AE: "United Arab Emirates", AF: "Afghanistan", AG: "Antigua and Barbuda", AI: "Anguilla", AL: "Albania", AM: "Armenia", AN: "Netherlands Antilles", AO: "Angola", AQ: "Antarctica", AR: "Argentina", AS: "American Samoa", AT: "Austria", AU: "Australia", AW: "Aruba", AX: "Åland Islands", AZ: "Azerbaijan", BA: "Bosnia and Herzegovina", BB: "Barbados", BD: "Bangladesh", BE: "Belgium", BF: "Burkina Faso", BG: "Bulgaria", BH: "Bahrain", BI: "Burundi", BJ: "Benin", BL: "Saint Barthélemy", BM: "Bermuda", BN: "Brunei", BO: "Bolivia", BQ: "British Antarctic Territory", BR: "Brazil", BS: "Bahamas", BT: "Bhutan", BV: "Bouvet Island", BW: "Botswana", BY: "Belarus", BZ: "Belize", CA: "Canada", CC: "Cocos [Keeling] Islands", CD: "Congo - Kinshasa", CF: "Central African Republic", CG: "Congo - Brazzaville", CH: "Switzerland", CI: "Côte d’Ivoire", CK: "Cook Islands", CL: "Chile", CM: "Cameroon", CN: "China", CO: "Colombia", CR: "Costa Rica", CS: "Serbia and Montenegro", CT: "Canton and Enderbury Islands", CU: "Cuba", CV: "Cape Verde", CX: "Christmas Island", CY: "Cyprus", CZ: "Czech Republic", DD: "East Germany", DE: "Germany", DJ: "Djibouti", DK: "Denmark", DM: "Dominica", DO: "Dominican Republic", DZ: "Algeria", EC: "Ecuador", EE: "Estonia", EG: "Egypt", EH: "Western Sahara", ER: "Eritrea", ES: "Spain", ET: "Ethiopia", FI: "Finland", FJ: "Fiji", FK: "Falkland Islands", FM: "Micronesia", FO: "Faroe Islands", FQ: "French Southern and Antarctic Territories", FR: "France", FX: "Metropolitan France", GA: "Gabon", GB: "United Kingdom", GD: "Grenada", GE: "Georgia", GF: "French Guiana", GG: "Guernsey", GH: "Ghana", GI: "Gibraltar", GL: "Greenland", GM: "Gambia", GN: "Guinea", GP: "Guadeloupe", GQ: "Equatorial Guinea", GR: "Greece", GS: "South Georgia and the South Sandwich Islands", GT: "Guatemala", GU: "Guam", GW: "Guinea-Bissau", GY: "Guyana", HK: "Hong Kong SAR China", HM: "Heard Island and McDonald Islands", HN: "Honduras", HR: "Croatia", HT: "Haiti", HU: "Hungary", ID: "Indonesia", IE: "Ireland", IL: "Israel", IM: "Isle of Man", IN: "India", IO: "British Indian Ocean Territory", IQ: "Iraq", IR: "Iran", IS: "Iceland", IT: "Italy", JE: "Jersey", JM: "Jamaica", JO: "Jordan", JP: "Japan", JT: "Johnston Island", KE: "Kenya", KG: "Kyrgyzstan", KH: "Cambodia", KI: "Kiribati", KM: "Comoros", KN: "Saint Kitts and Nevis", KP: "North Korea", KR: "South Korea", KW: "Kuwait", KY: "Cayman Islands", KZ: "Kazakhstan", LA: "Laos", LB: "Lebanon", LC: "Saint Lucia", LI: "Liechtenstein", LK: "Sri Lanka", LR: "Liberia", LS: "Lesotho", LT: "Lithuania", LU: "Luxembourg", LV: "Latvia", LY: "Libya", MA: "Morocco", MC: "Monaco", MD: "Moldova", ME: "Montenegro", MF: "Saint Martin", MG: "Madagascar", MH: "Marshall Islands", MI: "Midway Islands", MK: "Macedonia", ML: "Mali", MM: "Myanmar [Burma]", MN: "Mongolia", MO: "Macau SAR China", MP: "Northern Mariana Islands", MQ: "Martinique", MR: "Mauritania", MS: "Montserrat", MT: "Malta", MU: "Mauritius", MV: "Maldives", MW: "Malawi", MX: "Mexico", MY: "Malaysia", MZ: "Mozambique", NA: "Namibia", NC: "New Caledonia", NE: "Niger", NF: "Norfolk Island", NG: "Nigeria", NI: "Nicaragua", NL: "Netherlands", NO: "Norway", NP: "Nepal", NQ: "Dronning Maud Land", NR: "Nauru", NT: "Neutral Zone", NU: "Niue", NZ: "New Zealand", OM: "Oman", PA: "Panama", PC: "Pacific Islands Trust Territory", PE: "Peru", PF: "French Polynesia", PG: "Papua New Guinea", PH: "Philippines", PK: "Pakistan", PL: "Poland", PM: "Saint Pierre and Miquelon", PN: "Pitcairn Islands", PR: "Puerto Rico", PS: "Palestinian Territories", PT: "Portugal", PU: "U.S. Miscellaneous Pacific Islands", PW: "Palau", PY: "Paraguay", PZ: "Panama Canal Zone", QA: "Qatar", RE: "Réunion", RO: "Romania", RS: "Serbia", RU: "Russia", RW: "Rwanda", SA: "Saudi Arabia", SB: "Solomon Islands", SC: "Seychelles", SD: "Sudan", SE: "Sweden", SG: "Singapore", SH: "Saint Helena", SI: "Slovenia", SJ: "Svalbard and Jan Mayen", SK: "Slovakia", SL: "Sierra Leone", SM: "San Marino", SN: "Senegal", SO: "Somalia", SR: "Suriname", ST: "São Tomé and Príncipe", SU: "Union of Soviet Socialist Republics", SV: "El Salvador", SY: "Syria", SZ: "Swaziland", TC: "Turks and Caicos Islands", TD: "Chad", TF: "French Southern Territories", TG: "Togo", TH: "Thailand", TJ: "Tajikistan", TK: "Tokelau", TL: "Timor-Leste", TM: "Turkmenistan", TN: "Tunisia", TO: "Tonga", TR: "Turkey", TT: "Trinidad and Tobago", TV: "Tuvalu", TW: "Taiwan", TZ: "Tanzania", UA: "Ukraine", UG: "Uganda", UM: "U.S. Minor Outlying Islands", US: "United States", UY: "Uruguay", UZ: "Uzbekistan", VA: "Vatican City", VC: "Saint Vincent and the Grenadines", VD: "North Vietnam", VE: "Venezuela", VG: "British Virgin Islands", VI: "U.S. Virgin Islands", VN: "Vietnam", VU: "Vanuatu", WF: "Wallis and Futuna", WK: "Wake Island", WS: "Samoa", YD: "People's Democratic Republic of Yemen", YE: "Yemen", YT: "Mayotte", ZA: "South Africa", ZM: "Zambia", ZW: "Zimbabwe", ZZ: "Unknown or Invalid Region" };

        var countriesArray = $.map(countries, function (value, key) {
            return {
                value: value,
                data: key
            };
        });

        // initialize autocomplete with custom appendTo
        $('#autocomplete-custom-append').autocomplete({
            lookup: countriesArray,
            appendTo: '#autocomplete-container'
        });
    });
</script>
}
