@model IERSystem.Areas.Administrator.Models.Request

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Request</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.MaDon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaDon)
                @Html.ValidationMessageFor(model => model.MaDon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenKhachHang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenKhachHang)
                @Html.ValidationMessageFor(model => model.TenKhachHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenDaiDien, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDaiDien)
                @Html.ValidationMessageFor(model => model.TenDaiDien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChiLayMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChiLayMau)
                @Html.ValidationMessageFor(model => model.DiaChiLayMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChiKhachHang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChiKhachHang)
                @Html.ValidationMessageFor(model => model.DiaChiKhachHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaSoThue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaSoThue)
                @Html.ValidationMessageFor(model => model.MaSoThue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoDienThoai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoDienThoai)
                @Html.ValidationMessageFor(model => model.SoDienThoai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoFax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoFax)
                @Html.ValidationMessageFor(model => model.SoFax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayTaoHD, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayTaoHD)
                @Html.ValidationMessageFor(model => model.NgayTaoHD)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDuKienTraMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDuKienTraMau)
                @Html.ValidationMessageFor(model => model.NgayDuKienTraMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhuongPhapLayMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhuongPhapLayMau)
                @Html.ValidationMessageFor(model => model.PhuongPhapLayMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenTieuChuanDoiChieu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTieuChuanDoiChieu)
                @Html.ValidationMessageFor(model => model.TenTieuChuanDoiChieu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhiThiNghiemTamTinh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhiThiNghiemTamTinh)
                @Html.ValidationMessageFor(model => model.PhiThiNghiemTamTinh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TienKhachHangTraTruoc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TienKhachHangTraTruoc)
                @Html.ValidationMessageFor(model => model.TienKhachHangTraTruoc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DaGuiMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DaGuiMau)
                @Html.ValidationMessageFor(model => model.DaGuiMau)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
