@model IERSystem.Areas.Administrator.Models.SoChuyenMau

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SoChuyenMau</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.MaKhachHang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaKhachHang)
                @Html.ValidationMessageFor(model => model.MaKhachHang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaMau)
                @Html.ValidationMessageFor(model => model.MaMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChiTieuThuNghiem, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChiTieuThuNghiem)
                @Html.ValidationMessageFor(model => model.ChiTieuThuNghiem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NguoiGiaoMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NguoiGiaoMau)
                @Html.ValidationMessageFor(model => model.NguoiGiaoMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NguoiNhanMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NguoiNhanMau)
                @Html.ValidationMessageFor(model => model.NguoiNhanMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayGiaoMau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayGiaoMau)
                @Html.ValidationMessageFor(model => model.NgayGiaoMau)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayTraKetQua, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayTraKetQua)
                @Html.ValidationMessageFor(model => model.NgayTraKetQua)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DienTien, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DienTien)
                @Html.ValidationMessageFor(model => model.DienTien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GhiChu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GhiChu)
                @Html.ValidationMessageFor(model => model.GhiChu)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
