@model IERSystem.Areas.Administrator.Models.SoChuyenMau

@{
    ViewBag.Title = "Chỉnh";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh sửa</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chỉnh mẫu chuyển</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Mã khách hàng
                            </label>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.MaKhachHang, new { @class = "form-control col-md-4 col-xs-12", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.MaKhachHang)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Mã mẫu
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.MaMau, new { @class = "form-control col-md-4 col-xs-12", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.MaMau)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Chỉ tiêu thử nghiệm
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.ChiTieuThuNghiem, new { @class = "form-control col-md-4 col-xs-12", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.ChiTieuThuNghiem)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Người giao mẫu
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.NguoiGiaoMau, new { @class = "form-control col-md-4 col-xs-12" })
                                <button id="btnThemMau" type="button" data-toggle="modal" data-target="#themNVModal"><span class="fa fa-edit"></span></button>
                                @Html.ValidationMessageFor(model => model.NguoiGiaoMau)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Người nhận mẫu
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.NguoiNhanMau, new { @class = "form-control col-md-4 col-xs-12"}) 
                                <button id="btnThemMau" type="button" data-toggle="modal" data-target="#themNVModal"><span class="fa fa-edit"></span></button>
                                @Html.ValidationMessageFor(model => model.NguoiNhanMau)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Ngày giao mẫu
                            </label>
                            <div class="form-group input-group-sm col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.NgayGiaoMau, new { @class = "form-control datepicker", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.NgayGiaoMau)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Ngày trả kết quả
                            </label>
                            <div class="form-group input-group-sm col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.NgayTraKetQua, new { @class = "form-control datepicker", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.NgayTraKetQua)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Điền tên
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.DienTien, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.DienTien)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Ghi chú
                            </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.TextBoxFor(model => model.GhiChu, new { @class = "form-control col-md-4 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.GhiChu)
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Tạo" class="btn btn-success" />
                                <input type="button" class="btn btn-danger" value="Quay lại" onclick="location.href='@Url.Action("Index", "SoChuyenMau")'" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="themNVModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm nhân viên</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                            <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title"></th>
                                        <th class="column-title">Tên nhân viên </th>
                                        <th class="column-title">Phòng ban </th>
                                        <th class="column-title">Số điện thoại </th>
                                        <th class="column-title">Chức vụ </th>
                                        @*<th class="column-title">Ngày trả mẫu </th>*@
                                        <th class="column-title no-link last">
                                            <span class="nobr">Hành động</span>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Chọn nhiều ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="even pointer">
                                        <td class="a-center ">
                                            
                                            <input type="checkbox" class="flat" name="table_records" />
                                        </td>
                                        <td>
                                            <div class="profile_pic">
                                                <img src="~/Areas/Administrator/Content/images/img.jpg" alt="..." class="img-circle profile_img" style="width: 50px; position: relative; margin-top: 0px" >
                                            </div>
                                        </td>
                                        <td class=" ">Nguyễn Văn A</td>
                                        <td class=" ">Phòng Thí Nghiệm</td>
                                        <td class=" ">0123456789</td>
                                        <td class=" ">Nhân viên</td>                                       
                                        <td class=" last">
                                            <a href="#">Xem</a>
                                        </td>
                                    </tr>
                                    <tr class="odd pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">
                                            <div class="profile_pic">
                                                <img src="~/Areas/Administrator/Content/images/img.jpg" alt="..." class="img-circle profile_img" style="width: 50px; position: relative; margin-top: 0px">
                                            </div>
                                        </td>
                                        <td class=" ">Nguyễn Văn B</td>
                                        <td class=" ">Phòng Thí Nghiệm</td>
                                        <td class=" ">0123456789</td>
                                        <td class=" ">Nhân viên</td>   
                                        <td class=" last">
                                            <a href="#">Xem</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="saveNVBtn" type="button" class="btn btn-success" data-dismiss="modal">Thêm nhân viên</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script>
        $(document).ready(function () {
            $('#NgayGiaoMau').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#NgayTraKQ').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>*@
}
