@model IEnumerable<IERSystem.Areas.QuanLySoNhanMau.Models.CacSoNhanMauOutputModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@{
    int role = (int)Session["role"];
}
<h2>MỤC LỤC</h2>

<input type="button" class="btn btn-info" value="Tạo sổ nhận mẫu mới" onclick="location.href='@Url.Action("Create", "CacSoNhanMau")'" />


@{
    ViewBag.Title = "Index";
}

<div class="page-title">
    <div class="title-left">
        <h3>Sổ nhận mẫu</h3>
    </div>
    <div class="title-right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div id="cacsonhanmau-app" class="col-md-12 col-sm-12 col-xs-12">

    <!--Notification-->
    <div class="alert alert-info alert-dismissible" role="alert" hidden="hidden" id="myNoti2">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>
            Chào
            @{
                if (Session["loggedUser"] != null)
                {
                    @Session["loggedUser"].ToString()
                }
            }!
        </strong> Bạn có <i id="notiMau"></i> trong quyển số <i id="notiQuyen"></i>
        <a onclick="$('#danhsachmaumoi').fadeIn(500)"><u>Xem</u></a>
    </div>
    <!--End of Notification-->

    <!--Notification-->
    <div class="alert alert-success alert-dismissible" role="alert" hidden="hidden" id="myNoti">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>
            Chào
            @{
                if (Session["loggedUser"] != null)
                {
                    @Session["loggedUser"].ToString()
                }
            }!
        </strong> Bạn có <i id="NumOfNewItem"></i> mẫu mới có thể chuyển vào sổ.
        <a onclick="loadNotiTable();$('#danhsachmaumoi').fadeIn(500)"><u>Xem</u></a>
    </div>
    <!--End of Notification-->
    <!--Noti table-->
    <div class="x_panel" id="danhsachmaumoi" style="display:none">
        <div class="x_title">
            <h2>MẪU MỚI</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
                <li>
                    <a onclick="$('#danhsachmaumoi').hide()">
                        <i class="fa fa-close"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-striped" id="notiTable">
                    <thead>
                        <tr>
                            <th class="column-title">Mã đơn </th>
                            <th class="column-title">Tên khách hàng </th>
                            <th class="column-title">Mã mẫu </th>
                            <th class="column-title">Mô tả mẫu </th>
                            <th class="column-title">Ngày tạo hợp đồng </th>
                            <th class="column-title">Ngày trả mẫu </th>
                        </tr>
                    </thead>

                    <tbody></tbody>

                </table>
            </div>
        </div>
    </div>
    <!--Noti table-->
    <!-- danh sach so -->
    <div class="x_panel">
        <div class="x_title">
            <h2>DANH SÁCH SỔ NHẬN MẪU</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
                <li>
                    <a class="close-link">
                        <i class="fa fa-close"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Tên</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cacsonhanmau in Model)
                        {
                            <tr>
                                <td>Quyển Số @cacsonhanmau.QuyenSo (@cacsonhanmau.TuNgay - @cacsonhanmau.DenNgay)</td>
                                <td>
                                    <button v-on:click="openSoNhanMau(@(cacsonhanmau.QuyenSo))">Mở</button>
                                    <button data-toggle="modal" data-target="#xoaModal"><span class="fa fa-trash"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- danh sach so -->
    <!--Table dynamic-->
    <div v-for="cacsonhanmau in cacsonhanmaus_open" class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>SỔ NHẬN MẪU - Quyển số {{ cacsonhanmau.QuyenSo }} ({{ cacsonhanmau.TuNgay }} - {{ cacsonhanmau.DenNgay }}) <small><i class="green" id="NewItemForOneBook"> </i> mẫu mới </small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </li>
                    <li data-toggle="tooltip" title="Thêm mẫu">
                        <a data-toggle="modal" v-on:click="openThemMauModal(cacsonhanmau.TuNgay, cacsonhanmau.DenNgay, cacsonhanmau.QuyenSo)" data-target="#themMauModal" role="button" aria-expanded="false">
                            <i class="fa fa-plus"></i>
                        </a>
                    </li>
                    <li data-toggle="tooltip" title="In">
                        <a onclick="location.href='@Url.Action("", "")'">
                            <i class="fa fa-print"></i>
                        </a>
                    </li>
                    <li data-toggle="tooltip" title="Đóng">
                        @*<a data-toggle="modal" data-target="#xoaModal">
                                <i class="fa fa-close"></i>
                            </a>*@
                        <a class="close-link">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="sonhanmautable" class="datatable-buttons table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Phiếu yêu cầu</th>
                            <th>Tên/ Địa chỉ khách hàng</th>
                            <th>Mã số</th>
                            <th>Chỉ tiêu thử nghiệm</th>
                            <th>Ngày thêm vào sổ</th>
                            <th>Ngày trả kết quả</th>
                            <th>KH ký nhận trả tiền</th>
                            <th>KH ký nhận trả kết quả</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="sonhanmau in cacsonhanmau.NoiDung">
                            <td>
                                {{sonhanmau.MaPhieuYeuCau}}
                            </td>
                            <td>
                                {{sonhanmau.TenDiaChiKH}}
                            </td>
                            <td>
                                {{sonhanmau.MaMau}}
                            </td>
                            <td>
                                {{sonhanmau.ChiTieuThuNghiem}}
                            </td>
                            <td>
                                {{sonhanmau.NgayNhan}}
                            </td>
                            <td>
                                {{sonhanmau.NgayTraKQ}}
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label class="">
                                        <input type="checkbox" class="flat" disabled="disabled" style="width:20px; height:20px">
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label class="">
                                        <input type="checkbox" class="flat" disabled="disabled" style="width:20px; height:20px">
                                    </label>
                                </div>
                            </td>
                            <td>
                                @*<div slot="" style="display: none;">{{sonhanmau.Id}}</div>*@
                                <button data-toggle="tooltip" title="Chỉnh sửa" v-on:click="location.href='QuanLySoNhanMau/SoNhanMau/Edit/' + sonhanmau.Id"><span class="fa fa-edit"></span></button>
                                <button data-toggle="tooltip" title="Xem chi tiết" v-on:click="location.href='QuanLySoNhanMau/SoNhanMau/Details/' + sonhanmau.Id"><span class="fa fa-info"></span></button>
                                <button data-toggle="tooltip" title="Trả về"><span class="fa fa-reply"></span></button>
                                <button data-toggle="tooltip" title="Xóa"><span class="fa fa-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Them Mau Modal -->
    <div id="themMauModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm mẫu</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="mauThemTable" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th>
                                        @*<input type="checkbox" id="check-all" class="flat">*@
                                    </th>
                                    <th class="column-title">Mã đơn </th>
                                    <th class="column-title">Tên khách hàng </th>
                                    <th class="column-title">Mã mẫu </th>
                                    <th class="column-title">Mô tả mẫu </th>
                                    <th class="column-title">Ngày tạo hợp đồng </th>
                                    <th class="column-title">Ngày trả mẫu </th>
                                    <th class="bulk-actions" colspan="6">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Chọn nhiều ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="mauptcandid in mauptcandids">
                                    <td class='a-center'>
                                        <input type='checkbox' class='flat' name='table_records' style="width:20px; height:20px">
                                    </td>
                                    <td> {{mauptcandid.MaDon}} </td>
                                    <td> {{mauptcandid.TenKhachHang}} </td>
                                    <td> {{mauptcandid.MaMau}} </td>
                                    <td> {{mauptcandid.MoTaMau}} </td>
                                    <td> {{mauptcandid.NgayTaoHD}} </td>
                                    <td> {{mauptcandid.NgayTraMau}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button v-on:click="addMauPTs" type="button" class="btn btn-success" data-dismiss="modal">Thêm Mẫu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>

</div>

<!--Danh sach hop dong-->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>BẢNG HỢP ĐỒNG <small><i class="green">5 </i>mẫu mới </small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>

                <li>
                    <a class="close-link">
                        <i class="fa fa-close"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="" class="datatable-buttons table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Mã đơn</th>
                        <th>Tên khách hàng</th>
                        <th>Tên đại diện</th>
                        <th>Địa chỉ lấy mẫu</th>
                        <th>Địa chỉ KH</th>
                        @*<th>Mã số thuế</th>
                            <th>Số điện thoại</th>
                            <th>Số Fax</th>
                            <th>Ngày tạo HD</th>
                            <th>Ngày trả mẫu</th>*@
                        <th>Số mẫu đã có KQ</th>
                        <th>Tình trạng hợp đồng</th>
                        <th>Hành động</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="warning">
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>4/5</td>
                        <td>Chưa xong</td>
                        <!--Nut hoan tat hop dong-->
                        <td>
                            @*<div data-toggle="tooltip" title="Hoành thành hợp đồng">*@
                            <button data-toggle="modal" data-target="#hopdongModal"><span class="fa fa-check-square-o"></span></button>
                            @*</div>*@
                        </td>
                    </tr>
                    <tr class="success">
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>3/3</td>
                        <td>Đã xong</td>
                        <!--Nut hoan tat hop dong-->
                        <td>
                            @*<div data-toggle="tooltip" title="Hoành thành hợp đồng">*@
                            <button data-toggle="modal" data-target="#hopdongModal" disabled="disabled"><span class="fa fa-check-square-o"></span></button>
                            @*</div>*@
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="xoaModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h4>Bạn có chắc chắn muốn xóa mẫu này?</h4>
                <h5>Bạn sẽ không để hoàn tác hành động này.</h5>
                <div class="form-group" align="center">
                    @*TODO: nthoang: SoNhanMau Delete not supported yet*@
                    <button type="button" id="delSonhanmauBtn" class="btn btn-success" data-dismiss="modal"><span class="fa fa-check"></span></button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-close"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="hopdongModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h4>Xác nhận hoàn thành hợp đồng?</h4>
                <h5>Bạn sẽ không để hoàn tác hành động này.</h5>
                <div class="form-group" align="center">
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="compContractSucNoti()"><span class="fa fa-check"></span></button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="compContractFailNoti()"><span class="fa fa-close"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Areas/Administrator/vendors/vuejs/vue.min.js"></script>
    <!-- VueJS App -->
    <script>
        //nthoang: Global state to store cacsonhanmauId for ReceiveMauPTs action 
        var $target_cacsonhanmau = undefined;

        var $cacsonhanmau_app = new Vue({
            el: '#cacsonhanmau-app',
            data: {
                cacsonhanmaus_open: [],
                mauptcandids: []
            },
            methods: {
                refreshOpenedSoNhanMau: function (id) {
                    $.ajax({
                        type: 'POST',
                        url: ' @Url.Action("OpenSoNhanMau", "API")',
                        data: JSON.stringify({Id: id}),
                        success: function (res) {
                            if (res.IsOK) {
                                var refreshtarget = 
                                    $cacsonhanmau_app.cacsonhanmaus_open.find(function (e) { return e.QuyenSo == id });
                                if (refreshtarget != undefined) {
                                    refreshtarget.NoiDung = res.Data.NoiDung;
                                } 
                            } else {
                                console.log("Có lỗi khi mở sổ nhận mẫu " + id);
                            }
                        },
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });   
                },
                openSoNhanMau: function (id) {
                    $.ajax({
                        type: 'POST',
                        url: ' @Url.Action("OpenSoNhanMau", "API")',
                        data: JSON.stringify({Id: id}),
                        success: function (res) {
                            if (res.IsOK) {
                                $cacsonhanmau_app.cacsonhanmaus_open.push(res.Data);
                                getNumber(id);
                            } else {
                                alert("Có lỗi khi mở sổ nhận mẫu");
                            }
                        },
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });
                },
                openThemMauModal: function (tungay, denngay, cacsonhanmauid) {
                    $cacsonhanmau_app.mauptcandids = [];
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetMauPTCandids", "API")',
                        //Prepare the data to populate mauThemTable
                        data: JSON.stringify({
                            TuNgay: tungay,
                            DenNgay: denngay
                        }),
                        success: function (res) {
                            if (res.IsOK) {
                                $cacsonhanmau_app.mauptcandids = res.Data;
                                $target_cacsonhanmau = cacsonhanmauid;
                                getNumber(id);
                            } else {
                                alert("Có lỗi khi lấy danh sách mẫu");
                            }
                        },
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });
                },
                addMauPTs: function () {
                    var maupt_ids = []
                    $("#mauThemTable tbody").find("tr td input[type=checkbox]").each(function (ind, e) {
                        maupt_ids.push({ Checked: e.checked, Index: ind });
                    });
                    var formData1 = {
                        MauPhanTichIDs: maupt_ids
                                        .filter(function (item) { return item.Checked; })
                                        .map(function (item) { return $cacsonhanmau_app.mauptcandids[item.Index].Id; }),
                        CacSoNhanMauID: $target_cacsonhanmau,
                    };
                    $.ajax({
                        type: 'POST',
                        url: ' @Url.Action("ReceiveMauPTs", "API")',
                        data: JSON.stringify(formData1),
                        success: function (res) {
                            if (res.IsOK) {
                                //window.location.reload(true);
                                $cacsonhanmau_app.refreshOpenedSoNhanMau($target_cacsonhanmau);
                            } else {
                                alert("Có lỗi khi thêm mẫu vào sổ nhận mẫu");
                            }
                        },
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });
                }
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            
        });

        $(function () {
            $('#check-all').change(function(){
                if (this.checked) {
                    $(':checkbox', this).prop("checked");
                }
            })
            $('.jambo_table').click(function (event) {
                if (event.target.type !== 'checkbox') {
                    $(':checkbox', this).trigger('click');
                }
            });
        });

        function delSucNoti()
        {
            new PNotify({
                title: 'Thành công',
                text: 'xóa mẫu thành công khỏi dữ liệu.',
                type: 'success',
                styling: 'bootstrap3'
            })
        }

        function compContractSucNoti() {
            new PNotify({
                title: 'Thành công',
                text: 'đã đánh dấu hợp đồng đã hoàn tất.',
                type: 'success',
                styling: 'bootstrap3'
            })
        }

        function addItem() {
            new PNotify({
                title: 'Thành công',
                text: 'thêm mẫu thành công vào dữ liệu.',
                type: 'success',
                styling: 'bootstrap3'
            })
        }

        function delFailNoti() {
            new PNotify({
                title: 'Hủy',
                text: 'mẫu không được xóa khỏi dữ liệu.',
                styling: 'bootstrap3'
            });
        }

        function compContractFailNoti() {
            new PNotify({
                title: 'Hủy',
                text: 'hợp đồng không được đánh dấu hoàn thành.',
                styling: 'bootstrap3'
            })
        }

        function addItemFail() {
            new PNotify({
                title: 'Hủy',
                text: 'mẫu không được thêm vào dữ liệu.',
                styling: 'bootstrap3'
            })
        }

        function returnItem() {
            new PNotify({
                title: 'Thông báo',
                text: 'mẫu đã được hoàn trả.',
                type: 'info',
                styling: 'bootstrap3'
            });
        }

        $.ajax({
            type: 'POST',
            url: ' @Url.Action("GetNumberOfNewItems", "API") ',
            data: JSON.stringify({
                TuNgay: "1/1/1900",
                DenNgay: "1/1/2500"
            }),
            success: function (res) {
                if (res.IsOK) {
                    var result = res.Data;
                    var itemnew = document.createElement('span');
                    itemnew.innerHTML = " " + result + " ";
                    document.getElementById('NumOfNewItem').appendChild(itemnew);
                    if (result > 0) {
                        $('#myNoti').fadeIn(1000);
                    }
                }
            },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        });


        var listSoId = [];

        //Load noti table
        function loadNotiTable() {
            $.ajax({
                type: 'POST',
                url: ' @Url.Action("GetNewItems", "API")',
                data: JSON.stringify({
                    TuNgay: "1/1/1900",
                    DenNgay: "1/1/2500"
                }),
                success: function (res) {
                    if (res.IsOK) {
                        var tabledata = $("#notiTable tbody");
                        var items = res.Data;
                        for (var i = 0, iLen = items.length; i < iLen; ++i) {
                            listSoId.push(items[i].Id);
                            tabledata.append(
                                "<tr>" +
                                "<td>" + items[i].MaDon + "</td>" +
                                "<td>" + items[i].TenKhachHang + "</td>" +
                                "<td>" + items[i].MaMau + "</td>" +
                                "<td>" + items[i].MoTaMau + "</td>" +
                                "<td>" + items[i].NgayTaoHD + "</td>" +
                                "<td>" + items[i].NgayTraMau + "</td>" +
                                "</tr>");
                        }
                    }
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });
        }
        
        function getNumber(id) {

            //Get number of new items
            $.ajax({
                type: 'POST',
                url: ' @Url.Action("GetNumberOfNewItemsForOneBook", "API")',
                data: JSON.stringify({ Id: id }),
                success: function (res) {
                    if (res.IsOK) {
                        var result = res.Data;
                        var itemnew = document.createElement('i');
                        itemnew.innerHTML = " " + result + " ";
                        document.getElementById('NewItemForOneBook').appendChild(itemnew);
                    }
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });

            //Add class for new items
            $.ajax({
                type: 'POST',
                url: ' @Url.Action("GetNewItemsForOneBook", "API")',
                data: JSON.stringify({Id:id}),
                success: function (res) {
                    if (res.IsOK) {
                        var listPhieu = res.Data;
                        recentlyAddedRows(listPhieu);
                    }
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            }); 
            

        }

        function recentlyAddedRows(listPhieu){
            var table = document.getElementById('sonhanmautable');
            var row, rows = table.rows;
            var cell, cells;
            var rowText;
            for(var i=0, iLen=rows.length; i<iLen; i++){
                row = rows[i];
                cell = row.cells[0];
                if (jQuery.inArray(cell.textContent.trim(), listPhieu) != -1){
                    jQuery(row).addClass("success");
                }
            }
        }
        
    </script>
}
