@model IEnumerable<IERSystem.Areas.QuanLySoNhanMau.Models.CacSoNhanMauOutputModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>MỤC LỤC</h2>

<input type="button" class="btn btn-info" value="Tạo sổ nhận mẫu mới" onclick="location.href='@Url.Action("Create", "CacSoNhanMau")'" />

@{
    ViewBag.Title = "Index";
}

<div>
    <div class="page-title">
        <div class="title-left">
            <h3>Sổ nhận mẫu</h3>
        </div>
        <div class="title-right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- Modal -->
    <div id="themMauModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm mẫu</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="mauThemTable" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th>
                                        <input type="checkbox" id="check-all" class="flat">
                                    </th>
                                    <th class="column-title">Mã đơn </th>
                                    <th class="column-title">Tên khách hàng </th>
                                    <th class="column-title">Mã mẫu </th>
                                    <th class="column-title">Mô tả mẫu </th>
                                    <th class="column-title">Ngày tạo hợp đồng </th>
                                    <th class="column-title">Ngày trả mẫu </th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Hành động</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Chọn nhiều ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @*<tr class="even pointer">
                                    <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                    </td>
                                    <td class=" ">121000040</td>
                                    <td class=" ">May 23, 2014 11:47:56 PM </td>
                                    <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
                                    <td class=" ">John Blank L</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$7.45</td>
                                    <td class=" last">
                                        <a href="#">Xem</a>
                                    </td>
                                </tr>
                                <tr class="odd pointer">
                                    <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                    </td>
                                    <td class=" ">121000039</td>
                                    <td class=" ">May 23, 2014 11:30:12 PM</td>
                                    <td class=" ">
                                        121000208 <i class="success fa fa-long-arrow-up"></i>
                                    </td>
                                    <td class=" ">John Blank L</td>
                                    <td class=" ">Paid</td>
                                    <td class="a-right a-right ">$741.20</td>
                                    <td class=" last">
                                        <a href="#">Xem</a>
                                    </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addMauBtn" type="button" class="btn btn-success" data-dismiss="modal">Thêm Mẫu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>

    <!--Table dynamic-->
    @foreach (var cacsonhanmau in Model)
    {
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">

                    <h2>SỔ NHẬN MẪU <small>Quyển số @cacsonhanmau.QuyenSo (@cacsonhanmau.TuNgay - @cacsonhanmau.DenNgay)</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                        <li data-toggle="tooltip" title="Thêm mẫu">
                            <a data-toggle="modal" data-target="#themMauModal" class="btnThemMau" role="button" aria-expanded="false">
                                <div class="data-sonhanmau-tungay" style="display: none;">
                                    @Html.DisplayFor(modelItem => cacsonhanmau.TuNgay)
                                </div>
                                <div class="data-sonhanmau-denngay" style="display: none;">
                                    @Html.DisplayFor(modelItem => cacsonhanmau.DenNgay)
                                </div>
                                <div class="data-sonhanmau-id" style="display: none;">
                                    @Html.DisplayFor(modelItem => cacsonhanmau.Id)
                                </div>
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>

                        <li data-toggle="tooltip" title="In">
                            <a onclick="location.href='@Url.Action("", "")'">
                                <i class="fa fa-print"></i>
                            </a>
                        </li>
                        <li>
                            <a class="close-link">
                                <i class="fa fa-close"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="datatable-buttons table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Phiếu yêu cầu</th>
                                <th>Tên/ Địa chỉ khách hàng</th>
                                <th>Mã số</th>
                                <th>Chỉ tiêu thử nghiệm</th>
                                <th>Ngày nhận</th>
                                <th>Ngày trả kết quả</th>
                                <th>Ký hiệu mẫu</th>
                                <th>KH ký nhận trả tiền</th>
                                <th>KH ký nhận trả kết quả</th>
                                <th>Mã mẫu khách hàng</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var sonhanmau in cacsonhanmau.NoiDung)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => sonhanmau.MaPhieuYeuCau)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => sonhanmau.TenDiaChiKH)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => sonhanmau.MaMau)
                                </td>
                                <td>
                                    N/A
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => sonhanmau.NgayNhan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => sonhanmau.NgayTraKQ)
                                </td>
                                <td>
                                    N/A
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label class="">
                                            <input type="checkbox" class="flat">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox">
                                        <label class="">
                                            <input type="checkbox" class="flat">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => sonhanmau.MaMauKH)
                                </td>
                                <td>
                                    <button data-toggle="tooltip" title="Chỉnh sửa" onclick="location.href='@Url.Action("Edit", "SoNhanMau", new { id = sonhanmau.Id })'"><span class="fa fa-edit"></span></button>
                                    <button data-toggle="tooltip" title="Xem chi tiết" onclick="location.href='@Url.Action("Details", "SoNhanMau", new { id = sonhanmau.Id })'"><span class="fa fa-info"></span></button>
                                    <button data-toggle="tooltip" title="Xóa" onclick="location.href='@Url.Action("Delete", "SoNhanMau", new { id = sonhanmau.Id })'"><span class="fa fa-trash"></span></button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>
        $(document).ready(function () {
            var candidstable = $("#mauThemTable tbody");
            var candid_idarr = [];
            var target_cacsonhanmau = undefined;

            $("#addMauBtn").bind("click", function () {
                var maupt_ids = []
                $("#mauThemTable tbody").find("tr td input[type=checkbox]").each(function (ind, e) {
                    maupt_ids.push({ Checked: e.checked, Index: ind });
                });
                var formData1 = {
                    MauPhanTichIDs: maupt_ids
                                    .filter(function (item) { return item.Checked; })
                                    .map(function (item) { return candid_idarr[item.Index]; }),
                    CacSoNhanMauID: target_cacsonhanmau,
                };
                $.ajax({
                    type: 'POST',
                    url: ' @Url.Action("ReceiveMauPTs", "API")',
                    data: JSON.stringify(formData1),
                    success: function (res) {
                        if (res.isOk) {
                            console.log(formData);
                        } else {
                            console.log(res.errMsg);
                        }
                        window.location.reload(true);
                    },
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8'
                });
            });

            $(".btnThemMau").bind("click", function () {
                target_cacsonhanmau = $(this).find(".data-sonhanmau-id")[0].innerText.trim();

                //Prepare the data to populate mauThemTable
                var formData = {
                    TuNgay: $(this).find(".data-sonhanmau-tungay")[0].innerText.trim(),
                    DenNgay: $(this).find(".data-sonhanmau-denngay")[0].innerText.trim()
                };

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetMauPTCandids", "API")',
                    data: JSON.stringify(formData),
                    success: function (res) {
                        candidstable.empty();
                        candid_idarr = [];
                        res.forEach(function (item, index) {
                            candid_idarr[index] = item.Id;
                            candidstable.append(
                                "<tr>" +
                                    //"<td class='a-center'>" +
                                    //    "<input class='flat' name='table_records' style='opacity: 0;' type='checkbox'>" +
                                    //    "<div class='icheckbox_flat-green' style='position: relative;'><input class='flat' name='table_records' style='opacity: 0;' type='checkbox'><ins class='iCheck-helper' style='position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;'></ins></div>" +
                                    //"</td>" +
                                    "<td class='a-center '>" +
                                        "<input type='checkbox' class='flat' name='table_records'>" +
                                    "</td>" +
                                    "<td>" + item.MaDon + "</td>" +
                                    "<td>" + item.TenKhachHang + "</td>" +
                                    "<td>" + item.MaMau + "</td>" +
                                    "<td>" + item.MoTaMau + "</td>" +
                                    "<td>" + item.NgayTaoHD + "</td>" +
                                    "<td>" + item.NgayTraMau + "</td>" +
                                    "<td class='last'>" +
                                        "<a href='#'>Xem</a>" +
                                    "</td>" +
                                "</tr>"
                            );
                        });
                    },
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8'
                });
            });
        });
    </script>
}
